---
id      : amazon-simpledb-batch-put-attributes
layout  : default
title   : Amazon SimpleDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    BatchPutAttributes
    <small>(<a href="http://docs.amazonwebservices.com/AmazonSimpleDB/latest/DeveloperGuide/SDB_API_BatchPutAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>DomainName (*)</dt>
    <dd>param</dd>
  
    <dt>ItemName (*)</dt>
    <dd>param-array-set</dd>
  
    <dt>AttributeName (*)</dt>
    <dd>param-2d-array-set</dd>
  
    <dt>AttributeValue (*)</dt>
    <dd>param-2d-array-set</dd>
  
    <dt>AttributeReplace (*)</dt>
    <dd>param-2d-array-set</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
