---
id      : amazon-simpledb-batch-put-attributes
layout  : default
title   : Amazon SimpleDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    BatchPutAttributes
    <small>(<a href="http://docs.amazonwebservices.com/AmazonSimpleDB/latest/DeveloperGuide/SDB_API_BatchPutAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>DomainName (required)</dt>
    <dd> (param)</dd>
  
    <dt>ItemName (required)</dt>
    <dd> (param-array-set)</dd>
  
    <dt>AttributeName (required)</dt>
    <dd> (param-2d-array-set)</dd>
  
    <dt>AttributeValue (required)</dt>
    <dd> (param-2d-array-set)</dd>
  
    <dt>AttributeReplace (optional)</dt>
    <dd> (param-2d-array-set)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Update &amp; validate data of items</h3>
<p>This example shows how to update multiple items at once and ensure previous property values are overwritten. You can add a maximum of 25 item changes!</p>

<h4>Example</h4>
<pre>
var params = {
    DomainName      : 'an_unique_string',
    ItemName        : [
                        'record1',
                        'record2'
                      ],
    AttributeName   : [
                        ['name'],
                        ['name']
                      ],
    AttributeValue  : [
                        ['my_name'],
                        ['another_name']
                      ],
    AttributeReplace: [
                        true,
                        true
                      ]
};
sdb.BatchPutAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
