---
id      : amazon-simpledb-delete-attributes
layout  : default
title   : Amazon SimpleDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteAttributes
    <small>(<a href="http://docs.amazonwebservices.com/AmazonSimpleDB/latest/DeveloperGuide/SDB_API_DeleteAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>DomainName</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ItemName</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>AttributeName</td>
      <td>optional</td>
      <td>param-array-set</td>
      <td></td>
    </tr>
  
    <tr>
      <td>AttributeValue</td>
      <td>optional</td>
      <td>param-array-set</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ExpectedName</td>
      <td>optional</td>
      <td>param-array-set</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ExpectedValue</td>
      <td>optional</td>
      <td>param-array-set</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Delete data of an item</h3>
<p>This example shows how to delete all attributes (will delete the item).</p>

<h4>Example</h4>
<pre>
// if &quot;record1&quot; item exists with &quot;name&quot; and &quot;age&quot; properties, code below will delete item
var params = {
    DomainName      : 'an_unique_string',
    ItemName        : 'record1',
    AttributeName   : ['name', 'age'],
    AttributeValue  : ['my_name', 32]
};
sdb.DeleteAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Delete data of an item</h3>
<p>This example shows how to delete specific attributes.</p>

<h4>Example</h4>
<pre>
// if &quot;record1&quot; item exists with &quot;name&quot; and &quot;age&quot; properties, code below will delete only &quot;name&quot; property
var params = {
    DomainName      : 'an_unique_string',
    ItemName        : 'record1',
    AttributeName   : ['name'],
    AttributeValue  : ['my_name']
};
sdb.DeleteAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
