---
id      : amazon-simpledb-delete-attributes
layout  : default
title   : Amazon SimpleDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteAttributes
    <small>(<a href="http://docs.amazonwebservices.com/AmazonSimpleDB/latest/DeveloperGuide/SDB_API_DeleteAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>DomainName (*)</dt>
    <dd>param</dd>
  
    <dt>ItemName (*)</dt>
    <dd>param</dd>
  
    <dt>AttributeName (*)</dt>
    <dd>param-array-set</dd>
  
    <dt>AttributeValue (*)</dt>
    <dd>param-array-set</dd>
  
    <dt>ExpectedName (*)</dt>
    <dd>param-array-set</dd>
  
    <dt>ExpectedValue (*)</dt>
    <dd>param-array-set</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
