---
id      : amazon-simpledb-domain-metadata
layout  : default
title   : Amazon SimpleDB
tagline : ...
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DomainMetadata
    <small>(<a href="http://docs.amazonwebservices.com/AmazonSimpleDB/latest/DeveloperGuide/SDB_API_DomainMetadata.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Args</h2>

  
  <p>This operation doesn't take any arguments.</p>
  

  <h2>Examples</h2>

{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
