---
id      : amazon-simpledb
layout  : default
title   : Amazon SimpleDB
tagline : A highly available and flexible non-relational data store
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h2>Loading AwsSum's Amazon SimpleDB</h2>

{% highlight javascript %}
var awssum = require('awssum');
var amazon = awssum.load('amazon/amazon');
var SimpleDB = awssum.load('amazon/simpledb').SimpleDB;

var sdb = new SimpleDB({
    'accessKeyId'     : process.env.accessKeyId,
    'secretAccessKey' : process.env.secretAccessKey,
    'region'          : amazon.US_EAST_1
});
{% endhighlight %}

  <h2>Operations</h2>

  <p>
    Please see the menu on the left for all operations and examples.
  </p>

{% endcapture %}

{% include main.html %}
