---
id      : amazon-simpledb
layout  : default
title   : Amazon SimpleDB
tagline : A highly available and flexible non-relational data store
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h2>Loading AwsSum's Amazon SimpleDB</h2>

{% highlight javascript %}
var awssum = require('awssum');
var amazon = awssum.load('amazon/amazon');
var SimpleDB = awssum.load('amazon/simpledb').SimpleDB;

var sdb = new SimpleDB({
    'accessKeyId'     : process.env.accessKeyId,
    'secretAccessKey' : process.env.secretAccessKey,
    'region'          : amazon.US_EAST_1
});
{% endhighlight %}

  <h2>Examples</h2>
  <h3 name="Select">
    Select
    <small><a href="http://goo.gl/GTsSZ">(Open docs on AWS)</a></small>
  </h3>

{% highlight javascript %}
sdb.Select({SelectExpression:'SELECT * FROM '+config.sdb.name+" WHERE session = '"+value+"'",ConsistentRead:true},callback);
sdb.Select({},function(err, data) {
    fmt.title("Amazon:SimpleDB:Select - ");
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
{% endhighlight %}

{% endcapture %}

{% include main.html %}
