---
id      : amazon-simpledb-put-attributes
layout  : default
title   : Amazon SimpleDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutAttributes
    <small>(<a href="http://docs.amazonwebservices.com/AmazonSimpleDB/latest/DeveloperGuide/SDB_API_PutAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>DomainName (required)</dt>
    <dd> (param)</dd>
  
    <dt>ItemName (required)</dt>
    <dd> (param)</dd>
  
    <dt>AttributeName (required)</dt>
    <dd> (param-array-set)</dd>
  
    <dt>AttributeValue (required)</dt>
    <dd> (param-array-set)</dd>
  
    <dt>AttributeReplace (optional)</dt>
    <dd> (param-array-set)</dd>
  
    <dt>ExpectedName (optional)</dt>
    <dd> (param-array-set)</dd>
  
    <dt>ExpectedValue (optional)</dt>
    <dd> (param-array-set)</dd>
  
    <dt>ExpectedReplace (optional)</dt>
    <dd> (param-array-set)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Add data as an item (first time)</h3>
<p>This example shows how to add an item ("record") to a domain for the first time.</p>

<h4>Example</h4>
<pre>
var params = {
    DomainName      : 'an_unique_string',
    ItemName        : 'record1',
    AttributeName   : ['name', 'age'],
    AttributeValue  : ['my_name', 30]
};
sdb.PutAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Update data in an item</h3>
<p>This example shows how to update an item in your domain without replacing previous attribute ('column') values.</p>

<h4>Example</h4>
<pre>
var params = {
    DomainName      : 'an_unique_string',
    ItemName        : 'record1',
    AttributeName   : ['name', 'age'],
    AttributeValue  : ['my_name', 31]
};
sdb.PutAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Update data in an item</h3>
<p>This example shows how to update an item in your domain by replacing previous attribute ('column') values.</p>

<h4>Example</h4>
<pre>
var params = {
    DomainName      : 'an_unique_string',
    ItemName        : 'record1',
    AttributeName   : ['name', 'age'],
    AttributeValue  : ['my_name', 32],
    AttributeReplace: [false,true],
};
sdb.PutAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Update &amp; validate data of an item</h3>
<p>This example shows how to update and validate an item if it is updated correctly. This can be useful when inserting data into items that need/miss specific attributes.</p>

<h4>Example</h4>
<pre>
var params = {
    DomainName      : 'an_unique_string',
    ItemName        : 'record1',
    AttributeName   : ['name', 'age'],
    AttributeValue  : ['my_name', 32],
    ExpectedName    : ['name'],
    ExpectedValue   : ['my_name'],
};
sdb.PutAttributes(params, function(err, data) {
    // will error when the value is not updated correctly due to the provided expected properties
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
