---
id      : amazon-simpledb-select
layout  : default
title   : Amazon SimpleDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-simpledb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    Select
    <small>(<a href="http://docs.amazonwebservices.com/AmazonSimpleDB/latest/DeveloperGuide/SDB_API_Select.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>SelectExpression (*)</dt>
    <dd>param</dd>
  
    <dt>ConsistentRead (*)</dt>
    <dd>param</dd>
  
    <dt>NextToken (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
