---
id      : amazon-swf-list-domains
layout  : default
title   : Amazon SWF
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-swf.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListDomains
    <small>(<a href="http://docs.amazonwebservices.com/amazonswf/latest/apireference/API_ListDomains.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (*)</dt>
    <dd>special</dd>
  
    <dt>MaximumPageSize (*)</dt>
    <dd>json</dd>
  
    <dt>NextPageToken (*)</dt>
    <dd>json</dd>
  
    <dt>RegistrationStatus (*)</dt>
    <dd>json</dd>
  
    <dt>ReverseOrder (*)</dt>
    <dd>json</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
