---
id      : amazon-swf-list-activity-types
layout  : default
title   : Amazon SWF
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-swf.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListActivityTypes
    <small>(<a href="http://docs.amazonwebservices.com/amazonswf/latest/apireference/API_ListActivityTypes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (*)</dt>
    <dd>special</dd>
  
    <dt>Domain (*)</dt>
    <dd>json</dd>
  
    <dt>MaximumPageSize (*)</dt>
    <dd>json</dd>
  
    <dt>Name (*)</dt>
    <dd>json</dd>
  
    <dt>NextPageToken (*)</dt>
    <dd>json</dd>
  
    <dt>RegistrationStatus (*)</dt>
    <dd>json</dd>
  
    <dt>ReverseOrder (*)</dt>
    <dd>json</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
