---
id      : amazon-swf-poll-for-decision-task
layout  : default
title   : Amazon SWF
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-swf.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PollForDecisionTask
    <small>(<a href="http://docs.amazonwebservices.com/amazonswf/latest/apireference/API_PollForDecisionTask.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (required)</dt>
    <dd> (special)</dd>
  
    <dt>Domain (required)</dt>
    <dd> (json)</dd>
  
    <dt>Identity (optional)</dt>
    <dd> (json)</dd>
  
    <dt>MaximumPageSize (optional)</dt>
    <dd> (json)</dd>
  
    <dt>NextPageToken (optional)</dt>
    <dd> (json)</dd>
  
    <dt>ReverseOrder (optional)</dt>
    <dd> (json)</dd>
  
    <dt>TaskList (required)</dt>
    <dd> (json)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
