---
id      : amazon-swf-register-workflow-type
layout  : default
title   : Amazon SWF
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-swf.html %}
{% endcapture %}

{% capture main %}

  <h1>
    RegisterWorkflowType
    <small>(<a href="http://docs.amazonwebservices.com/amazonswf/latest/apireference/API_RegisterWorkflowType.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (*)</dt>
    <dd>special</dd>
  
    <dt>DefaultChildPolicy (*)</dt>
    <dd>json</dd>
  
    <dt>DefaultExecutionStartToCloseTimeout (*)</dt>
    <dd>json</dd>
  
    <dt>DefaultTaskList (*)</dt>
    <dd>json</dd>
  
    <dt>DefaultTaskStartToCloseTimeout (*)</dt>
    <dd>json</dd>
  
    <dt>Description (*)</dt>
    <dd>json</dd>
  
    <dt>Domain (*)</dt>
    <dd>json</dd>
  
    <dt>Name (*)</dt>
    <dd>json</dd>
  
    <dt>Version (*)</dt>
    <dd>json</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
