---
id      : amazon-swf-request-cancel-workflow-execution
layout  : default
title   : Amazon SWF
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-swf.html %}
{% endcapture %}

{% capture main %}

  <h1>
    RequestCancelWorkflowExecution
    <small>(<a href="http://docs.amazonwebservices.com/amazonswf/latest/apireference/API_RequestCancelWorkflowExecution.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (required)</dt>
    <dd> (special)</dd>
  
    <dt>Domain (required)</dt>
    <dd> (json)</dd>
  
    <dt>RunId (optional)</dt>
    <dd> (json)</dd>
  
    <dt>WorkflowId (required)</dt>
    <dd> (json)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
