---
id      : amazon-swf-respond-activity-task-failed
layout  : default
title   : Amazon SWF
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-swf.html %}
{% endcapture %}

{% capture main %}

  <h1>
    RespondActivityTaskFailed
    <small>(<a href="http://docs.amazonwebservices.com/amazonswf/latest/apireference/API_RespondActivityTaskFailed.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (*)</dt>
    <dd>special</dd>
  
    <dt>Details (*)</dt>
    <dd>json</dd>
  
    <dt>Reason (*)</dt>
    <dd>json</dd>
  
    <dt>TaskToken (*)</dt>
    <dd>json</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
