---
id      : amazon-swf-start-workflow-execution
layout  : default
title   : Amazon SWF
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-swf.html %}
{% endcapture %}

{% capture main %}

  <h1>
    StartWorkflowExecution
    <small>(<a href="http://docs.amazonwebservices.com/amazonswf/latest/apireference/API_StartWorkflowExecution.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (*)</dt>
    <dd>special</dd>
  
    <dt>ChildPolicy (*)</dt>
    <dd>json</dd>
  
    <dt>Domain (*)</dt>
    <dd>json</dd>
  
    <dt>ExecutionStartToCloseTimeout (*)</dt>
    <dd>json</dd>
  
    <dt>Input (*)</dt>
    <dd>json</dd>
  
    <dt>TagList (*)</dt>
    <dd>json</dd>
  
    <dt>TaskList (*)</dt>
    <dd>json</dd>
  
    <dt>TaskStartToCloseTimeout (*)</dt>
    <dd>json</dd>
  
    <dt>WorkflowId (*)</dt>
    <dd>json</dd>
  
    <dt>WorkflowType (*)</dt>
    <dd>json</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
