---
id      : amazon-cloudsearch-define-rank-expression
layout  : default
title   : Amazon CloudSearch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudsearch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DefineRankExpression
    <small>(<a href="http://docs.amazonwebservices.com/cloudsearch/latest/developerguide/API_DefineRankExpression.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>DomainName (*)</dt>
    <dd>param</dd>
  
    <dt>RankExpression (*)</dt>
    <dd>param-data</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
