---
id      : amazon-cloudsearch-update-stemming-options
layout  : default
title   : Amazon CloudSearch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudsearch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UpdateStemmingOptions
    <small>(<a href="http://docs.amazonwebservices.com/cloudsearch/latest/developerguide/API_UpdateStemmingOptions.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>DomainName (required)</dt>
    <dd> (param)</dd>
  
    <dt>Stems (required)</dt>
    <dd> (param-json)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
