---
id      : amazon-fps-get-account-balance
layout  : default
title   : Amazon FPS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-fps.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetAccountBalance
    <small>(<a href="http://docs.amazonwebservices.com/AmazonFPS/latest/FPSAPIReference/GetAccountBalance.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
