---
id      : amazon-fps-get-tokens-by-caller
layout  : default
title   : Amazon FPS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-fps.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetTokensByCaller
    <small>(<a href="http://docs.amazonwebservices.com/AmazonFPS/latest/FPSAPIReference/GetTokensByCaller.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>CallerReference (optional)</dt>
    <dd> (param)</dd>
  
    <dt>TokenId (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
