---
id      : amazon-fps-get-total-prepaid-liability
layout  : default
title   : Amazon FPS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-fps.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetTotalPrepaidLiability
    <small>(<a href="http://docs.amazonwebservices.com/AmazonFPS/latest/FPSAPIReference/GetTotalPrepaidLiability.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
