---
id      : amazon-fps-get-account-activity
layout  : default
title   : Amazon FPS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-fps.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetAccountActivity
    <small>(<a href="http://docs.amazonwebservices.com/AmazonFPS/latest/FPSAPIReference/GetAccountActivity.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>EndDate (optional)</dt>
    <dd> (param)</dd>
  
    <dt>FpsOperation (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxBatchSize (optional)</dt>
    <dd> (param)</dd>
  
    <dt>PaymentMethod (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ResponseGroup (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Role (optional)</dt>
    <dd> (param)</dd>
  
    <dt>SortByDateOrder (optional)</dt>
    <dd> (param)</dd>
  
    <dt>StartDate (required)</dt>
    <dd> (param)</dd>
  
    <dt>Status (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
