---
id      : changelog
layout  : default
title   : Changelog
tagline : What's the difference?
sitemap : true
---
{% capture menu %}
  {% include menu-index.html %}
{% endcapture %}

{% capture main %}

  <h1>ChangeLog</h1>

  <h2>Release v0.12.0 (2012-11-13)</h2>

  <p>Features:</p>

  <ul>
    <li>Added support for the Sydney region (AP_SOUTHEAST_2)</li>
    <li>Now uses your AwsAccountId in format 111122223333 or 1111-2222-3333 where AWS requires it</li>
    <li>Added support for PriceClass for Amazon:CloudFront</li>
    <li>Added support for Amazon:EC2 resersed instance marketplace</li>
    <li>Added support for CORS on AmazonS3 buckets</li>
    <li>lots more examples</li>
    <li>More unit and integration tests</li>
  </ul>

  <p>Fixes:</p>

  <ul>
    <li>Now escapes Unicode properly in all requests</li>
    <li>Fix up Amazon:S3 PutObjectAcl and PutBucketAcl for the full XML Access Control Lists (thanks GreenQloud)</li>
    <li>Many fixes related to parameter names, types and whether they are required</li>
  </ul>

  <p>
    And a huge array of examples for http://awssum.io/ - thanks to <a href="http://www.techtribe.nl/">Joey van Dijk</a>.
  </p>

  <h2>Release v0.11.0 (2012-09-21)</h2>

  <p>New Services:</p>

  <ul>
    <li>(none)</li>
  </ul>

  <p>Features:</p>

  <ul>
    <li>make many of the examples/ more consistent</li>
    <li>add some Amazon:IAM examples</li>
    <li>Correct the AccessControlList in Amazon:S3 PutBucket, PutBucketAcl, PutObject, PutObjectAcl and CopyObject operations</li>
    <li>Factor out AWS Signature v2.</li>
    <li>Convert Amazon:DynamoDB use Signature v4, rather than Amazon:STS - should make your apps faster</li>
    <li>Convert Amazon:IAM use Signature v4</li>
    <li>Add AWS docs url into each operation to help with autogenerating the docs</li>
    <li>More integration tests for Amazon DynamoDB, CloudSearch, Glacier, IAM and S3</li>
  </ul>

  <p>Fixes:</p>

  <ul>
    <li>Add Grant* params to Amazon:S3 PutBucket, PutBucketAcl, PutObject, PutObjectAcl and CopyObject operations</li>
    <li>(*) Rename Amazon:EC2 EnableVolumeIO to EnableVolumeIo to make it more compatible with other operation names</li>
  </ul>

  <p>Note: (*) Denotes a backwards incompatible change.</p>

  <h2>Release v0.10.1 (2012-09-06)</h2>

  <p>Fixes:</p>

  <ul>
    <li>Fix the dependency on xml2js to version 0.1.14 since the format has changed</li>
  </ul>

  <h2>Release v0.10.0 (2012-09-03)</h2>

  <p>Services:</p>

  <ul>
    <li>fixes in CloudSearch</li>
    <li>fixes in Glacier</li>
    <li>fixes for STS</li>
    <li>fixes in CloudFormation</li>
    <li>some EC2 updates</li>
  </ul>

  <p>Code:</p>

  <ul>
    <li>ability to use your own HTTP Agent :)</li>
    <li>added new tagging options to S3</li>
    <li>lots more examples</li>
    <li>ability to use tokens rather than personal credentials (thanks Joey van Dijk)</li>
    <li>groundwork for future options</li>
    <li>more unit/integration tests</li>
  </ul>

  <h2>Older Releases</h2>

  <p>ToDo</p>

{% endcapture %}

{% include main.html %}
