---
id      : index
layout  : default
title   : AwsSum
tagline : Node.js modules for talking to lots of Web Service APIs.
sitemap : true
---
{% capture menu %}
  {% include menu-index.html %}
{% endcapture %}

{% capture main %}

  <div class="hero-unit">
    <h1>AwsSum <small>{{ site.version }}</small></h1>
    <p>
      Node.js modules for talking to <strong>lots</strong> of Web Service APIs.
    </p>
    <p>
      &bull; <strong>GitHub</strong>: <a href="https://github.com/awssum/awssum/">AwsSum</a> <small>Please star :)</small>
      <br>
      &bull; <strong>NPM</strong>: <a href="https://npmjs.org/package/awssum">AwsSum</a>
      <br>
      &bull; <strong>IRC</strong>: #awssum on Freenode
      <br>
      &bull; <strong>Email</strong>: chilts@appsattic.com
      <br>
      &bull; <strong>Issues</strong>: <a href="https://github.com/awssum/awssum/issues">awssum/issues</a> <small>provide an example request/response</small>
      <br>
      &bull; <strong>Twitter Updates</strong>: <a href="https://twitter.com/andychilton" class="twitter-follow-button" data-show-count="true" data-size="medium" data-dnt="true">Follow @andychilton</a>
      <br>
      <small>And a big thanks to <a href="https://github.com/Techtribe">Joey van Dijk</a> for huge help with the documentation and adding lots of examples for each service.</small>
    </p>
  </div>

  <div class="row-fluid">

    <div class="span4">
      <h2>GreenQloud</h2>
      <p>
        <a href="http://greenqloud.com/">GreenQloud</a> released their new management console in early September 2012,
        using Meteor and AwsSum! Not only are they using AwsSum to talk to a cloud - it's their own cloud. What better
        than the cloud providers using it themselves to talk to their own services?
      </p>
      <p><a class="btn" href="https://twitter.com/Greenqloud/status/253343497128648704">View Details &raquo;</a></p>
    </div><!-- /.span4 -->

    <div class="span4">
      <h2>Medium.com</h2>
      <p>
        When <a href="http://medium.com/">Medium</a> launched in mid-August 2012, they turned to AwsSum to help them in
        their deploy process, which involved talking to EC2, S3 and Route53. Deploying large numbers of server for
        large numbers of visitors is something that AwsSum just laps up.
      </p>
      <p><a class="btn" href="https://twitter.com/danfuzz/status/235501451894480897">View details &raquo;</a></p>
    </div><!-- /.span4 -->

    <div class="span4">
      <h2>Teelaunch</h2>
      <p>
        We bootstrapped <a href="https://teelaunch.com">Teelaunch</a> and used AwsSum's S3 and CloudFront modules as
        integral parts of our stack.  This helped us take load off our servers, reduce costs, and focus on improving
        performance for our end-users.
      </p>
      <p>
        <strong>Founder of Teelaunch</strong>
      </p>
      </p>
    </div><!-- /.span4 -->

  </div><!-- /.row-fluid -->

{% endcapture %}

{% include main.html %}
