---
id      : installing
layout  : default
title   : Installing
tagline : npm rocks!
sitemap : true
---
{% capture menu %}
  {% include menu-index.html %}
{% endcapture %}

{% capture main %}

  <h1>Installing</h1>

  <p>
    With NPM it's so easy to install AwsSum. Truly, the best package manager for any language.
  </p>

{% highlight sh %}
npm install awssum
{% endhighlight %}

  <p>
    Or you can get a tarball from GitHub:
  </p>

{% highlight sh %}
wget https://github.com/appsattic/node-awssum/tarball/master
{% endhighlight %}

  <p>
    Or clone the repo using Git:
  </p>

{% highlight sh %}
git clone git://github.com/appsattic/node-awssum.git
{% endhighlight %}

{% endcapture %}

{% include main.html %}
