---
id      : amazon-sts-get-session-token
layout  : default
title   : Amazon STS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sts.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetSessionToken
    <small>(<a href="http://docs.amazonwebservices.com/STS/latest/APIReference/API_GetSessionToken.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>DurationSeconds (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
