---
id      : amazon-sts-get-session-token
layout  : default
title   : Amazon STS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sts.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetSessionToken
    <small>(<a href="http://docs.amazonwebservices.com/STS/latest/APIReference/API_GetSessionToken.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th width="20%">Param Name</th>
      <th width="10%">Required</th>
      <th width="10%">Type</th>
      <th width="60%">Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>DurationSeconds</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Get session token</h3>
<p>This example shows how to get default temporary security credentials. </p>

<h4>Example</h4>
<pre>
sqs.GetSessionToken({}, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>



<h4>Result</h4>
<pre>
{ StatusCode: 200,
  Headers: 
   { 'x-amzn-requestid': '3d324a62-2973-11e2-ae41-79f1af3bd71f',
     'content-type': 'text/xml',
     'content-length': '808',
     date: 'Thu, 08 Nov 2012 07:09:29 GMT' },
  Body: 
  {
      GetSessionTokenResponse: 
      {'@': { xmlns: 'https://sts.amazonaws.com/doc/2011-06-15/' },
        GetSessionTokenResult:
            { Credentials: 
                { SessionToken: 'AQoDYXdzEBAawAEttT0Xk79cmqvyh3N6f24TwXyXRPN//tIBFKpX3BEuflIf/lt0fp6vS6e80oabccD7n3pN8j6hihR0n1L0X13BFCUzEritaxpYncz860lUBm0Y6Oh4ML1+9rn0opWAzPxY1Cgt7Nrf5NNXjs9mj/yedaQPxZe7q2GUAZBJ+0Xev7WLqF1caKZ4R2oaU7IqID1udcRNFZevzO+7Pa40NjqW2fIJ1c3mL3BVpdTfE8VoThGAjE4MBTNUKzEZgS9jkPQgqbXthAU=',
                    SecretAccessKey: '0Bb9qB4mtdneMF02TqP7GeXs/xhU7Ic5IrPfBnpl',
                    Expiration: '2012-11-08T19:09:29.926Z',
                    AccessKeyId: 'ASIAJEMHOHKAKBBCW3LQ' 
                }
            }
       },
       ResponseMetadata: { RequestId: '3d324a62-2973-11e2-ae41-79f1af3bd71f' } 
  }
}

</pre>


<h3>Get session token for 14 hours</h3>
<p>This example shows how to get temporary security credentials that last 14 hours. Your temporary credentials can last between 1 and 36 hours and are default set to 12 hours.</p>

<h4>Example</h4>
<pre>
var params = {
    DurationSeconds : 50400
}
sqs.GetSessionToken(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Get session token through your MFA-device</h3>
<p>This example shows how to get temporary security credentials through an connected MFA-device.</p>

<h4>Example</h4>
<pre>
var params = {
    SerialNumber : 'arn:aws:iam::123456789012:mfa/user',
    TokenCode    : '123456'
}
/* OR
var params = {
    SerialNumber : 'GAHT12345678',
    TokenCode    : '123456'
}
*/
sqs.GetSessionToken(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
