---
id      : amazon-sts
layout  : default
title   : Amazon STS
tagline : Elastic Compute Cloud
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sts.html %}
{% endcapture %}

{% capture main %}

  <h2>Loading AwsSum's Amazon STS</h2>

{% highlight javascript %}
var awssum = require('awssum');
var amazon = awssum.load('amazon/amazon');
var Sts = awssum.load('amazon/sts').Sts;

var sts = new Sts({
    'accessKeyId'     : process.env.accessKeyId,
    'secretAccessKey' : process.env.secretAccessKey,
    'region'          : amazon.US_EAST_1
});
{% endhighlight %}

{% endcapture %}

{% include main.html %}
