---
id      : amazon-dynamodb-batch-write-item
layout  : default
title   : Amazon DynamoDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-dynamodb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    BatchWriteItem
    <small>(<a href="">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (required)</dt>
    <dd> (special)</dd>
  
    <dt>RequestItems (required)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
