---
id      : amazon-dynamodb-delete-item
layout  : default
title   : Amazon DynamoDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-dynamodb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteItem
    <small>(<a href="http://docs.amazonwebservices.com/amazondynamodb/latest/developerguide/API_DeleteItem.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (*)</dt>
    <dd>special</dd>
  
    <dt>Key (*)</dt>
    <dd>special</dd>
  
    <dt>Expected (*)</dt>
    <dd>special</dd>
  
    <dt>ReturnValues (*)</dt>
    <dd>special</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
