---
id      : amazon-dynamodb-query
layout  : default
title   : Amazon DynamoDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-dynamodb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    Query
    <small>(<a href="http://docs.amazonwebservices.com/amazondynamodb/latest/developerguide/API_Query.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (required)</dt>
    <dd> (special)</dd>
  
    <dt>TableName (required)</dt>
    <dd> (special)</dd>
  
    <dt>AttributesToGet (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Limit (optional)</dt>
    <dd> (special)</dd>
  
    <dt>ConsistentRead (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Count (optional)</dt>
    <dd> (special)</dd>
  
    <dt>HashKeyValue (required)</dt>
    <dd> (special)</dd>
  
    <dt>AttributeValueList (optional)</dt>
    <dd> (special)</dd>
  
    <dt>ComparisonOperator (optional)</dt>
    <dd> (special)</dd>
  
    <dt>ScanIndexForward (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
