---
id      : amazon-dynamodb-rl
layout  : default
title   : Amazon DynamoDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-dynamodb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    url
    <small>(<a href="">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>



  <p>This operation doesn't take any arguments.</p>


  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
