---
id      : amazon-dynamodb-update-table
layout  : default
title   : Amazon DynamoDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-dynamodb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UpdateTable
    <small>(<a href="http://docs.amazonwebservices.com/amazondynamodb/latest/developerguide/API_UpdateTable.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Target</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>TableName</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ProvisionedThroughput</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
