---
id      : amazon-dynamodb-update-item
layout  : default
title   : Amazon DynamoDB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-dynamodb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UpdateItem
    <small>(<a href="http://docs.amazonwebservices.com/amazondynamodb/latest/developerguide/API_UpdateItem.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (required)</dt>
    <dd> (special)</dd>
  
    <dt>TableName (required)</dt>
    <dd> (special)</dd>
  
    <dt>Key (required)</dt>
    <dd> (special)</dd>
  
    <dt>AttributeUpdates (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Expected (optional)</dt>
    <dd> (special)</dd>
  
    <dt>ReturnValues (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
