---
id      : amazon-ses-delete-verified-email-address
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteVerifiedEmailAddress
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_DeleteVerifiedEmailAddress.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>EmailAddress (required)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>(deprecated) Delete a verified email address</h3>
<p>This example shows how to delete a verified email address only. Notice the difference with SES.DeleteIdentity that is used for unverified email addresses and/or domains.</p>

<h4>Example</h4>
<pre>
ses.DeleteVerifiedEmailAddress({ EmailAddress : 'email@domain.com' }, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
