---
id      : amazon-ses-get-identity-verification-attributes
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetIdentityVerificationAttributes
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_GetIdentityVerificationAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>form</dd>
  
    <dt>Identities (*)</dt>
    <dd>form-array</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
