---
id      : amazon-ses-get-identity-notification-attributes
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetIdentityNotificationAttributes
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_GetIdentityNotificationAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>Identities (required)</dt>
    <dd> (form-array)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
