---
id      : amazon-ses-get-send-quota
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetSendQuota
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_GetSendQuota.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Get the quota status on the amount of emails sent</h3>
<p>This example shows how to show the status on how many emails are sent and are yet possible to be sent.</p>

<h4>Example</h4>
<pre>
ses.GetSendQuota({},function(err,data){
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
