---
id      : amazon-ses-get-identity-notification-attributes
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetIdentityNotificationAttributes
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_GetIdentityNotificationAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>form</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Identities</td>
      <td>required</td>
      <td>form-array</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Get identity notification attributes</h3>
<p>This example shows how to get identity notification attributes for bounce and complaints notifications.</p>

<h4>Example</h4>
<pre>
var params = {
    Identities : [ 'email@domain.com', 'domain.com' ],
};
ses.GetIdentityNotificationAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Get identity notification attributes</h3>
<p>This example shows how to get identity notification attributes for bounce and complaints notifications.</p>

<h4>Example</h4>
<pre>
var params = {
    Identities : [ 'email@domain.com', 'domain.com' ],
};
ses.GetIdentityNotificationAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
