---
id      : amazon-ses-get-identity-verification-attributes
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetIdentityVerificationAttributes
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_GetIdentityVerificationAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>Identities (required)</dt>
    <dd> (form-array)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Get identity verification attributes</h3>
<p>This example shows how to get identity verification attributes for verification status/tokens.</p>

<h4>Example</h4>
<pre>
var params = {
    Identities : [ 'email@domain.com', 'domain.com' ],
};
ses.GetIdentityNotificationAttributes(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
