---
id      : amazon-ses
layout  : default
title   : Amazon SES
tagline : Elastic Compute Cloud
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h2>Loading AwsSum's Amazon SES</h2>

{% highlight javascript %}
var awssum = require('awssum');
var amazon = awssum.load('amazon/amazon');
var Ses = awssum.load('amazon/ses').Ses;

var ses = new Ses({
  'accessKeyId'     : process.env.accessKeyId,
  'secretAccessKey' : process.env.secretAccessKey
});
{% endhighlight %}

{% endcapture %}

{% include main.html %}
