---
id      : amazon-ses-list-verified-email-addresses
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListVerifiedEmailAddresses
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_ListVerifiedEmailAddresses.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>form</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
