---
id      : amazon-ses-list-identities
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListIdentities
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_ListIdentities.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>IdentityType (optional)</dt>
    <dd> (form)</dd>
  
    <dt>MaxItems (optional)</dt>
    <dd> (form)</dd>
  
    <dt>NextToken (optional)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>List all identities </h3>
<p>This example shows how to list all identies (email addresses and domains) regardless of its verification status.</p>

<h4>Example</h4>
<pre>
ses.ListIdentities({},function(err,data){
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
