---
id      : amazon-ses-list-verified-email-addresses
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListVerifiedEmailAddresses
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_ListVerifiedEmailAddresses.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>List all verified email addresses</h3>
<p>This example shows how to list all verified email addresses that need to be verified before you can sent emails from those email addresses.</p>

<h4>Example</h4>
<pre>
ses.ListVerifiedEmailAddresses({}, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
