---
id      : amazon-ses-send-email
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SendEmail
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_SendEmail.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>ToAddresses (optional)</dt>
    <dd> (form-array)</dd>
  
    <dt>CcAddresses (optional)</dt>
    <dd> (form-array)</dd>
  
    <dt>BccAddresses (optional)</dt>
    <dd> (form-array)</dd>
  
    <dt>Subject (optional)</dt>
    <dd> (form)</dd>
  
    <dt>SubjectCharset (optional)</dt>
    <dd> (form)</dd>
  
    <dt>Html (optional)</dt>
    <dd> (form)</dd>
  
    <dt>HtmlCharset (optional)</dt>
    <dd> (form)</dd>
  
    <dt>Text (optional)</dt>
    <dd> (form)</dd>
  
    <dt>TextCharset (optional)</dt>
    <dd> (form)</dd>
  
    <dt>ReplyToAddresses (optional)</dt>
    <dd> (form-array)</dd>
  
    <dt>ReturnPath (optional)</dt>
    <dd> (form)</dd>
  
    <dt>Source (required)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
