---
id      : amazon-ses-set-identity-feedback-forwarding-enabled
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SetIdentityFeedbackForwardingEnabled
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_SetIdentityFeedbackForwardingEnabled.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>form</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ForwardingEnabled</td>
      <td>required</td>
      <td>form</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Identity</td>
      <td>required</td>
      <td>form</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Set identity feedback forwarding to enabled/disabled</h3>
<p>This example shows how to enable/disable feedback forwarding on a identity (domain/email address). It is important for bounce and complaint notifications.</p>

<h4>Example</h4>
<pre>
var params1 = {
    Identity          : 'email@domain.com',
    ForwardingEnabled : true,
};
ses.SetIdentityFeedbackForwardingEnabled(params1, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

var params1 = {
    Identity          : 'email@domain.com',
    ForwardingEnabled : false,
};
ses.SetIdentityFeedbackForwardingEnabled(params2, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
