---
id      : amazon-ses-set-identity-dkim-enabled
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SetIdentityDkimEnabled
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_SetIdentityDkimEnabled.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>DkimEnabled (required)</dt>
    <dd> (form)</dd>
  
    <dt>Identity (required)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Set identity DKIM to enabled/disabled</h3>
<p>This example shows how to enable/disable DKIM on a identity (domain/email address).</p>

<h4>Example</h4>
<pre>
ses.SetIdentityDkimEnabled({Identity:'email@domain.com',DkimEnabled:true},function(err,data){
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
ses.SetIdentityDkimEnabled({Identity:'domain.com',DkimEnabled:false},function(err,data){
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
