---
id      : amazon-ses-set-identity-notification-topic
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SetIdentityNotificationTopic
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_SetIdentityNotificationTopic.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>Identity (required)</dt>
    <dd> (form)</dd>
  
    <dt>NotificationType (required)</dt>
    <dd> (form)</dd>
  
    <dt>SnsTopic (optional)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Set an identity notification (SNS) topic</h3>
<p>This example shows how to set the notification (SNS) topic per identity to publish bounce and complaint notifications to.</p>

<h4>Example</h4>
<pre>
var bounce = {
    Identity         : 'email@domain.com',
    NotificationType : 'Bounce',
    SnsTopic         : 'arn:aws:sns:us-east-1:123456789012:exampleTopic',
};
ses.SetIdentityNotificationTopic(bounce, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

var complaint = {
    Identity         : 'domain.com',
    NotificationType : 'Complaint',
    SnsTopic         : 'arn:aws:sns:us-east-1:123456789012:exampleTopic'
};
ses.SetIdentityNotificationTopic(complaint, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Delete an identity notification (SNS) topic</h3>
<p>This example shows how to delete the notification (SNS) topic per identity to publish bounce and complaint notifications to.</p>

<h4>Example</h4>
<pre>
var noBounce = {
    Identity         : 'email@domain.com',
    NotificationType : 'Bounce',
    SnsTopic         : '',
};
ses.SetIdentityNotificationTopic(noBounce, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

var noComplaint = {
    Identity         : 'domain.com',
    NotificationType : 'Complaint',
    SnsTopic         : '',
};
ses.SetIdentityNotificationTopic(noComplaint, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
