---
id      : amazon-ses-verify-email-identity
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    VerifyEmailIdentity
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_VerifyEmailIdentity.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>form</dd>
  
    <dt>EmailAddress (*)</dt>
    <dd>form</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
