---
id      : amazon-ses-verify-domain-identity
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    VerifyDomainIdentity
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_VerifyDomainIdentity.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>Domain (required)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Verify a domain</h3>
<p>This example shows how to verify a domain. Please visit <a href="http://docs.amazonwebservices.com/ses/latest/DeveloperGuide/InitialSetup.DomainVerification.html">here</a> for more information.</p>

<h4>Example</h4>
<pre>
ses.VerifyDomainIdentity({ Domain : 'domain.com' }, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
