---
id      : amazon-ses-verify-email-address
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    VerifyEmailAddress
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_VerifyEmailAddress.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>EmailAddress (required)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>(deprecated) Verify an email adress </h3>
<p>This example shows how to verify an email address. Afterwards an email will be sent to the specified email adress where you have to click on a link to verify its existence.</p>

<h4>Example</h4>
<pre>
ses.VerifyEmailAddress({ EmailAddress : 'anotheremail@domain.com' }, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
