---
id      : amazon-ses-verify-domain-dkim
layout  : default
title   : Amazon SES
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ses.html %}
{% endcapture %}

{% capture main %}

  <h1>
    VerifyDomainDkim
    <small>(<a href="http://docs.amazonwebservices.com/ses/latest/APIReference/API_VerifyDomainDkim.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (form)</dd>
  
    <dt>Domain (required)</dt>
    <dd> (form)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Verify a domain DKIM entry</h3>
<p>This example shows how to verify a domain DKIM entry in its DNS. Please visit <a href="http://docs.amazonwebservices.com/ses/latest/DeveloperGuide/DKIM.EasyDKIM.DNSRecords.html">here</a> for more information.</p>

<h4>Example</h4>
<pre>
ses.VerifyDomainDkim({ Domain : 'domain.com' }, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
