---
id      : amazon-sns-confirm-subscription
layout  : default
title   : Amazon SNS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sns.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ConfirmSubscription
    <small>(<a href="http://docs.amazonwebservices.com/sns/latest/api/API_ConfirmSubscription.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>TopicArn (required)</dt>
    <dd> (param)</dd>
  
    <dt>Token (required)</dt>
    <dd> (param)</dd>
  
    <dt>AuthenticateOnUnsubscribe (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
