---
id      : amazon-sns-set-subscription-attributes
layout  : default
title   : Amazon SNS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sns.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SetSubscriptionAttributes
    <small>(<a href="http://docs.amazonwebservices.com/sns/latest/api/API_SetSubscriptionAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>AttributeName (required)</dt>
    <dd> (param)</dd>
  
    <dt>AttributeValue (required)</dt>
    <dd> (param)</dd>
  
    <dt>SubscriptionArn (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
