---
id      : amazon-sns-subscribe
layout  : default
title   : Amazon SNS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sns.html %}
{% endcapture %}

{% capture main %}

  <h1>
    Subscribe
    <small>(<a href="http://docs.amazonwebservices.com/sns/latest/api/API_Subscribe.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>Endpoint (*)</dt>
    <dd>param</dd>
  
    <dt>Protocol (*)</dt>
    <dd>param</dd>
  
    <dt>TopicArn (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
