---
id      : amazon-glacier-complete-multipart-upload
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CompleteMultipartUpload
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-multipart-complete-upload.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>VaultName (*)</dt>
    <dd>special</dd>
  
    <dt>UploadId (*)</dt>
    <dd>special</dd>
  
    <dt>Sha256TreeHash (*)</dt>
    <dd>header</dd>
  
    <dt>ArchiveSize (*)</dt>
    <dd>header</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
