---
id      : amazon-glacier-delete-vault-notifications
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteVaultNotifications
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-vault-notifications-delete.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>VaultName</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
