---
id      : amazon-glacier-get-job-output
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetJobOutput
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-job-output-get.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>VaultName (required)</dt>
    <dd> (special)</dd>
  
    <dt>JobId (required)</dt>
    <dd> (special)</dd>
  
    <dt>Range (optional)</dt>
    <dd> (header)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
