---
id      : amazon-glacier-initiate-job
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    InitiateJob
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-initiate-job-post.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>VaultName (required)</dt>
    <dd> (special)</dd>
  
    <dt>Type (required)</dt>
    <dd> (special)</dd>
  
    <dt>ArchiveId (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Description (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Format (optional)</dt>
    <dd> (special)</dd>
  
    <dt>SNSTopic (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
