---
id      : amazon-glacier-list-vaults
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListVaults
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-vaults-get.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Limit (*)</dt>
    <dd>param</dd>
  
    <dt>Marker (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
