---
id      : amazon-glacier-list-jobs
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListJobs
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-jobs-get.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>VaultName (required)</dt>
    <dd> (special)</dd>
  
    <dt>Completed (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Limit (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Marker (optional)</dt>
    <dd> (param)</dd>
  
    <dt>StatusCode (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
