---
id      : amazon-glacier-set-vault-notification-configuration
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SetVaultNotificationConfiguration
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-vault-notifications-put.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>VaultName (*)</dt>
    <dd>special</dd>
  
    <dt>SNSTopic (*)</dt>
    <dd>special</dd>
  
    <dt>Events (*)</dt>
    <dd>special</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
