---
id      : amazon-glacier-upload-archive
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UploadArchive
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-archive-post.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>VaultName (required)</dt>
    <dd> (special)</dd>
  
    <dt>ContentLength (required)</dt>
    <dd> (header)</dd>
  
    <dt>ArchiveDescription (optional)</dt>
    <dd> (header)</dd>
  
    <dt>ContentSha256 (required)</dt>
    <dd> (header)</dd>
  
    <dt>Sha256TreeHash (required)</dt>
    <dd> (header)</dd>
  
    <dt>Body (required)</dt>
    <dd> (body)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
