---
id      : amazon-glacier-upload-archive
layout  : default
title   : Amazon Glacier
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-glacier.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UploadArchive
    <small>(<a href="http://docs.amazonwebservices.com/amazonglacier/latest/dev/api-archive-post.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>VaultName (*)</dt>
    <dd>special</dd>
  
    <dt>ContentLength (*)</dt>
    <dd>header</dd>
  
    <dt>ArchiveDescription (*)</dt>
    <dd>header</dd>
  
    <dt>ContentSha256 (*)</dt>
    <dd>header</dd>
  
    <dt>Sha256TreeHash (*)</dt>
    <dd>header</dd>
  
    <dt>Body (*)</dt>
    <dd>body</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
