  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-iam nav-header">Amazon IAM</li>
  <li class="tab-amazon-iam-add-role-to-instance-profile">
    <a href="/amazon/iam/AddRoleToInstanceProfile.html">AddRoleToInstanceProfile</a>
  </li>
  <li class="tab-amazon-iam-add-user-to-group">
    <a href="/amazon/iam/AddUserToGroup.html">AddUserToGroup</a>
  </li>
  <li class="tab-amazon-iam-change-password">
    <a href="/amazon/iam/ChangePassword.html">ChangePassword</a>
  </li>
  <li class="tab-amazon-iam-create-access-key">
    <a href="/amazon/iam/CreateAccessKey.html">CreateAccessKey</a>
  </li>
  <li class="tab-amazon-iam-create-account-alias">
    <a href="/amazon/iam/CreateAccountAlias.html">CreateAccountAlias</a>
  </li>
  <li class="tab-amazon-iam-create-group">
    <a href="/amazon/iam/CreateGroup.html">CreateGroup</a>
  </li>
  <li class="tab-amazon-iam-create-instance-profile">
    <a href="/amazon/iam/CreateInstanceProfile.html">CreateInstanceProfile</a>
  </li>
  <li class="tab-amazon-iam-create-login-profile">
    <a href="/amazon/iam/CreateLoginProfile.html">CreateLoginProfile</a>
  </li>
  <li class="tab-amazon-iam-create-role">
    <a href="/amazon/iam/CreateRole.html">CreateRole</a>
  </li>
  <li class="tab-amazon-iam-create-user">
    <a href="/amazon/iam/CreateUser.html">CreateUser</a>
  </li>
  <li class="tab-amazon-iam-create-virtual-m-f-a-device">
    <a href="/amazon/iam/CreateVirtualMFADevice.html">CreateVirtualMFADevice</a>
  </li>
  <li class="tab-amazon-iam-deactivate-m-f-a-device">
    <a href="/amazon/iam/DeactivateMFADevice.html">DeactivateMFADevice</a>
  </li>
  <li class="tab-amazon-iam-delete-access-key">
    <a href="/amazon/iam/DeleteAccessKey.html">DeleteAccessKey</a>
  </li>
  <li class="tab-amazon-iam-delete-account-alias">
    <a href="/amazon/iam/DeleteAccountAlias.html">DeleteAccountAlias</a>
  </li>
  <li class="tab-amazon-iam-delete-account-password-policy">
    <a href="/amazon/iam/DeleteAccountPasswordPolicy.html">DeleteAccountPasswordPolicy</a>
  </li>
  <li class="tab-amazon-iam-delete-group">
    <a href="/amazon/iam/DeleteGroup.html">DeleteGroup</a>
  </li>
  <li class="tab-amazon-iam-delete-group-policy">
    <a href="/amazon/iam/DeleteGroupPolicy.html">DeleteGroupPolicy</a>
  </li>
  <li class="tab-amazon-iam-delete-instance-profile">
    <a href="/amazon/iam/DeleteInstanceProfile.html">DeleteInstanceProfile</a>
  </li>
  <li class="tab-amazon-iam-delete-login-profile">
    <a href="/amazon/iam/DeleteLoginProfile.html">DeleteLoginProfile</a>
  </li>
  <li class="tab-amazon-iam-delete-role">
    <a href="/amazon/iam/DeleteRole.html">DeleteRole</a>
  </li>
  <li class="tab-amazon-iam-delete-role-policy">
    <a href="/amazon/iam/DeleteRolePolicy.html">DeleteRolePolicy</a>
  </li>
  <li class="tab-amazon-iam-delete-server-certificate">
    <a href="/amazon/iam/DeleteServerCertificate.html">DeleteServerCertificate</a>
  </li>
  <li class="tab-amazon-iam-delete-signing-certificate">
    <a href="/amazon/iam/DeleteSigningCertificate.html">DeleteSigningCertificate</a>
  </li>
  <li class="tab-amazon-iam-delete-user">
    <a href="/amazon/iam/DeleteUser.html">DeleteUser</a>
  </li>
  <li class="tab-amazon-iam-delete-user-policy">
    <a href="/amazon/iam/DeleteUserPolicy.html">DeleteUserPolicy</a>
  </li>
  <li class="tab-amazon-iam-delete-virtual-m-f-a-device">
    <a href="/amazon/iam/DeleteVirtualMFADevice.html">DeleteVirtualMFADevice</a>
  </li>
  <li class="tab-amazon-iam-enable-m-f-a-device">
    <a href="/amazon/iam/EnableMFADevice.html">EnableMFADevice</a>
  </li>
  <li class="tab-amazon-iam-get-account-password-policy">
    <a href="/amazon/iam/GetAccountPasswordPolicy.html">GetAccountPasswordPolicy</a>
  </li>
  <li class="tab-amazon-iam-get-account-summary">
    <a href="/amazon/iam/GetAccountSummary.html">GetAccountSummary</a>
  </li>
  <li class="tab-amazon-iam-get-group">
    <a href="/amazon/iam/GetGroup.html">GetGroup</a>
  </li>
  <li class="tab-amazon-iam-get-group-policy">
    <a href="/amazon/iam/GetGroupPolicy.html">GetGroupPolicy</a>
  </li>
  <li class="tab-amazon-iam-get-instance-profile">
    <a href="/amazon/iam/GetInstanceProfile.html">GetInstanceProfile</a>
  </li>
  <li class="tab-amazon-iam-get-login-profile">
    <a href="/amazon/iam/GetLoginProfile.html">GetLoginProfile</a>
  </li>
  <li class="tab-amazon-iam-get-role">
    <a href="/amazon/iam/GetRole.html">GetRole</a>
  </li>
  <li class="tab-amazon-iam-get-role-policy">
    <a href="/amazon/iam/GetRolePolicy.html">GetRolePolicy</a>
  </li>
  <li class="tab-amazon-iam-get-server-certificate">
    <a href="/amazon/iam/GetServerCertificate.html">GetServerCertificate</a>
  </li>
  <li class="tab-amazon-iam-get-user">
    <a href="/amazon/iam/GetUser.html">GetUser</a>
  </li>
  <li class="tab-amazon-iam-get-user-policy">
    <a href="/amazon/iam/GetUserPolicy.html">GetUserPolicy</a>
  </li>
  <li class="tab-amazon-iam-list-access-keys">
    <a href="/amazon/iam/ListAccessKeys.html">ListAccessKeys</a>
  </li>
  <li class="tab-amazon-iam-list-account-aliases">
    <a href="/amazon/iam/ListAccountAliases.html">ListAccountAliases</a>
  </li>
  <li class="tab-amazon-iam-list-group-policies">
    <a href="/amazon/iam/ListGroupPolicies.html">ListGroupPolicies</a>
  </li>
  <li class="tab-amazon-iam-list-groups">
    <a href="/amazon/iam/ListGroups.html">ListGroups</a>
  </li>
  <li class="tab-amazon-iam-list-groups-for-user">
    <a href="/amazon/iam/ListGroupsForUser.html">ListGroupsForUser</a>
  </li>
  <li class="tab-amazon-iam-list-instance-profiles">
    <a href="/amazon/iam/ListInstanceProfiles.html">ListInstanceProfiles</a>
  </li>
  <li class="tab-amazon-iam-list-instance-profiles-for-role">
    <a href="/amazon/iam/ListInstanceProfilesForRole.html">ListInstanceProfilesForRole</a>
  </li>
  <li class="tab-amazon-iam-list-m-f-a-devices">
    <a href="/amazon/iam/ListMFADevices.html">ListMFADevices</a>
  </li>
  <li class="tab-amazon-iam-list-role-policies">
    <a href="/amazon/iam/ListRolePolicies.html">ListRolePolicies</a>
  </li>
  <li class="tab-amazon-iam-list-roles">
    <a href="/amazon/iam/ListRoles.html">ListRoles</a>
  </li>
  <li class="tab-amazon-iam-list-server-certificates">
    <a href="/amazon/iam/ListServerCertificates.html">ListServerCertificates</a>
  </li>
  <li class="tab-amazon-iam-list-signing-certificates">
    <a href="/amazon/iam/ListSigningCertificates.html">ListSigningCertificates</a>
  </li>
  <li class="tab-amazon-iam-list-user-policies">
    <a href="/amazon/iam/ListUserPolicies.html">ListUserPolicies</a>
  </li>
  <li class="tab-amazon-iam-list-users">
    <a href="/amazon/iam/ListUsers.html">ListUsers</a>
  </li>
  <li class="tab-amazon-iam-list-virtual-m-f-a-devices">
    <a href="/amazon/iam/ListVirtualMFADevices.html">ListVirtualMFADevices</a>
  </li>
  <li class="tab-amazon-iam-put-group-policy">
    <a href="/amazon/iam/PutGroupPolicy.html">PutGroupPolicy</a>
  </li>
  <li class="tab-amazon-iam-put-role-policy">
    <a href="/amazon/iam/PutRolePolicy.html">PutRolePolicy</a>
  </li>
  <li class="tab-amazon-iam-put-user-policy">
    <a href="/amazon/iam/PutUserPolicy.html">PutUserPolicy</a>
  </li>
  <li class="tab-amazon-iam-remove-role-from-instance-profile">
    <a href="/amazon/iam/RemoveRoleFromInstanceProfile.html">RemoveRoleFromInstanceProfile</a>
  </li>
  <li class="tab-amazon-iam-remove-user-from-group">
    <a href="/amazon/iam/RemoveUserFromGroup.html">RemoveUserFromGroup</a>
  </li>
  <li class="tab-amazon-iam-resync-m-f-a-device">
    <a href="/amazon/iam/ResyncMFADevice.html">ResyncMFADevice</a>
  </li>
  <li class="tab-amazon-iam-update-access-key">
    <a href="/amazon/iam/UpdateAccessKey.html">UpdateAccessKey</a>
  </li>
  <li class="tab-amazon-iam-update-account-password-policy">
    <a href="/amazon/iam/UpdateAccountPasswordPolicy.html">UpdateAccountPasswordPolicy</a>
  </li>
  <li class="tab-amazon-iam-update-assume-role-policy">
    <a href="/amazon/iam/UpdateAssumeRolePolicy.html">UpdateAssumeRolePolicy</a>
  </li>
  <li class="tab-amazon-iam-update-group">
    <a href="/amazon/iam/UpdateGroup.html">UpdateGroup</a>
  </li>
  <li class="tab-amazon-iam-update-login-profile">
    <a href="/amazon/iam/UpdateLoginProfile.html">UpdateLoginProfile</a>
  </li>
  <li class="tab-amazon-iam-update-server-certificate">
    <a href="/amazon/iam/UpdateServerCertificate.html">UpdateServerCertificate</a>
  </li>
  <li class="tab-amazon-iam-update-signing-certificate">
    <a href="/amazon/iam/UpdateSigningCertificate.html">UpdateSigningCertificate</a>
  </li>
  <li class="tab-amazon-iam-update-user">
    <a href="/amazon/iam/UpdateUser.html">UpdateUser</a>
  </li>
  <li class="tab-amazon-iam-upload-server-certificate">
    <a href="/amazon/iam/UploadServerCertificate.html">UploadServerCertificate</a>
  </li>
  <li class="tab-amazon-iam-upload-signing-certificate">
    <a href="/amazon/iam/UploadSigningCertificate.html">UploadSigningCertificate</a>
  </li>
