  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-sqs nav-header">Amazon SQS</li>
  <li class="tab-amazon-sqs-add-permission">
    <a href="/amazon/sqs/AddPermission.html">AddPermission</a>
  </li>
  <li class="tab-amazon-sqs-change-message-visibility">
    <a href="/amazon/sqs/ChangeMessageVisibility.html">ChangeMessageVisibility</a>
  </li>
  <li class="tab-amazon-sqs-change-message-visibility-batch">
    <a href="/amazon/sqs/ChangeMessageVisibilityBatch.html">ChangeMessageVisibilityBatch</a>
  </li>
  <li class="tab-amazon-sqs-create-queue">
    <a href="/amazon/sqs/CreateQueue.html">CreateQueue</a>
  </li>
  <li class="tab-amazon-sqs-delete-message">
    <a href="/amazon/sqs/DeleteMessage.html">DeleteMessage</a>
  </li>
  <li class="tab-amazon-sqs-delete-message-batch">
    <a href="/amazon/sqs/DeleteMessageBatch.html">DeleteMessageBatch</a>
  </li>
  <li class="tab-amazon-sqs-delete-queue">
    <a href="/amazon/sqs/DeleteQueue.html">DeleteQueue</a>
  </li>
  <li class="tab-amazon-sqs-get-queue-attributes">
    <a href="/amazon/sqs/GetQueueAttributes.html">GetQueueAttributes</a>
  </li>
  <li class="tab-amazon-sqs-get-queue-url">
    <a href="/amazon/sqs/GetQueueUrl.html">GetQueueUrl</a>
  </li>
  <li class="tab-amazon-sqs-list-queues">
    <a href="/amazon/sqs/ListQueues.html">ListQueues</a>
  </li>
  <li class="tab-amazon-sqs-receive-message">
    <a href="/amazon/sqs/ReceiveMessage.html">ReceiveMessage</a>
  </li>
  <li class="tab-amazon-sqs-remove-permission">
    <a href="/amazon/sqs/RemovePermission.html">RemovePermission</a>
  </li>
  <li class="tab-amazon-sqs-send-message">
    <a href="/amazon/sqs/SendMessage.html">SendMessage</a>
  </li>
  <li class="tab-amazon-sqs-send-message-batch">
    <a href="/amazon/sqs/SendMessageBatch.html">SendMessageBatch</a>
  </li>
  <li class="tab-amazon-sqs-set-queue-attributes">
    <a href="/amazon/sqs/SetQueueAttributes.html">SetQueueAttributes</a>
  </li>
