  <li class="tab-basics nav-header">Basics</li>
  <li class="tab-installing"><a href="/installing.html">Installing</a></li>
  <li class="tab-loading"><a href="/loading.html">Loading</a></li>
  <li class="tab-async"><a href="/async.html">Async</a></li>
  <li class="tab-examples"><a href="/example.html">Full Example</a></li>
  <li class="tab-changelog"><a href="/changelog.html">ChangeLog</a></li>

  <li class="tab-amazon nav-header">The Wider Ecosystem</li>
  <li class="tab-amazon"><a href="/tools/">Tools built using AwsSum</a></li>
  <li class="tab-amazon"><a href="/misc/">Misc Other</a></li>

  <li class="tab-amazon nav-header">Web Services</li>
  <li class="tab-amazon"><a href="/amazon/">Amazon</a>
    <ul>
      <li class="tab-amazon-autoscaling"><a href="/amazon/autoscaling/">AutoScaling</a></li>
      <li class="tab-amazon-cloudformation"><a href="/amazon/cloudformation/">CloudFormation</a></li>
      <li class="tab-amazon-cloudfront"><a href="/amazon/cloudfront/">CloudFront</a></li>
      <li class="tab-amazon-cloudsearch"><a href="/amazon/cloudsearch/">CloudSearch</a></li>
      <li class="tab-amazon-cloudwatch"><a href="/amazon/cloudwatch/">CloudWatch</a></li>
      <li class="tab-amazon-dynamodb"><a href="/amazon/dynamodb/">DynamoDB</a></li>
      <li class="tab-amazon-ec2"><a href="/amazon/ec2/">Elastic Compute Cloud (EC2)</a></li>
      <li class="tab-amazon-elasticache"><a href="/amazon/elasticache/">ElastiCache</a></li>
      <li class="tab-amazon-elasticbeanstalk"><a href="/amazon/elasticbeanstalk/">ElasticBeanstalk</a></li>
      <li class="tab-amazon-elb"><a href="/amazon/elb/">Elastic LoadBalancers (ELB)</a></li>
      <li class="tab-amazon-emr"><a href="/amazon/emr/">Elastic MapReduce (EMR)</a></li>
      <li class="tab-amazon-fps"><a href="/amazon/fps/">Flexible Payments Service (FPS)</a></li>
      <li class="tab-amazon-glacier"><a href="/amazon/glacier/">Glacier</a></li>
      <li class="tab-amazon-iam"><a href="/amazon/iam/">Identity and Access Management (IAM)</a></li>
      <li class="tab-amazon-imd"><a href="/amazon/imd/">Instance MetaData (IMD)</a></li>
      <li class="tab-amazon-importexport"><a href="/amazon/importexport/">ImportExport</a></li>
      <li class="tab-amazon-rds"><a href="/amazon/rds/">Relational Database Service (RDS)</a></li>
      <li class="tab-amazon-route53"><a href="/amazon/route53/">Route53</a></li>
      <li class="tab-amazon-s3"><a href="/amazon/s3/">Simple Storage Service (S3)</a></li>
      <li class="tab-amazon-ses"><a href="/amazon/ses/">Simple Email Service (SES)</a></li>
      <li class="tab-amazon-simpledb"><a href="/amazon/simpledb/">SimpleDB</a></li>
      <li class="tab-amazon-sns"><a href="/amazon/sns/">Simple Notification Service (SNS)</a></li>
      <li class="tab-amazon-sqs"><a href="/amazon/sqs/">Simple Queue Service (SQS)</a></li>
      <li class="tab-amazon-storagegateway"><a href="/amazon/storagegateway/">StorageGateway</a></li>
      <li class="tab-amazon-sts"><a href="/amazon/sts/">Simple Token Service (STS)</a></li>
      <li class="tab-amazon-swf"><a href="/amazon/swf/">Simple WorkFlow (SWF)</a></li>
    </ul>
  </li>
