  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-emr nav-header">Amazon EMR</li>
  <li class="tab-amazon-emr-add-instance-groups">
    <a href="/amazon/emr/AddInstanceGroups.html">AddInstanceGroups</a>
  </li>
  <li class="tab-amazon-emr-add-job-flow-steps">
    <a href="/amazon/emr/AddJobFlowSteps.html">AddJobFlowSteps</a>
  </li>
  <li class="tab-amazon-emr-describe-job-flows">
    <a href="/amazon/emr/DescribeJobFlows.html">DescribeJobFlows</a>
  </li>
  <li class="tab-amazon-emr-modify-instance-groups">
    <a href="/amazon/emr/ModifyInstanceGroups.html">ModifyInstanceGroups</a>
  </li>
  <li class="tab-amazon-emr-run-job-flow">
    <a href="/amazon/emr/RunJobFlow.html">RunJobFlow</a>
  </li>
  <li class="tab-amazon-emr-set-termination-protection">
    <a href="/amazon/emr/SetTerminationProtection.html">SetTerminationProtection</a>
  </li>
  <li class="tab-amazon-emr-terminate-job-flows">
    <a href="/amazon/emr/TerminateJobFlows.html">TerminateJobFlows</a>
  </li>
