  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-autoscaling nav-header">Amazon AutoScaling</li>
  <li class="tab-amazon-autoscaling-create-auto-scaling-group">
    <a href="/amazon/autoscaling/create-auto-scaling-group.html">CreateAutoScalingGroup</a>
  </li>
  <li class="tab-amazon-autoscaling-create-launch-configuration">
    <a href="/amazon/autoscaling/create-launch-configuration.html">CreateLaunchConfiguration</a>
  </li>
  <li class="tab-amazon-autoscaling-create-or-update-tags">
    <a href="/amazon/autoscaling/create-or-update-tags.html">CreateOrUpdateTags</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-auto-scaling-group">
    <a href="/amazon/autoscaling/delete-auto-scaling-group.html">DeleteAutoScalingGroup</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-launch-configuration">
    <a href="/amazon/autoscaling/delete-launch-configuration.html">DeleteLaunchConfiguration</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-notification-configuration">
    <a href="/amazon/autoscaling/delete-notification-configuration.html">DeleteNotificationConfiguration</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-policy">
    <a href="/amazon/autoscaling/delete-policy.html">DeletePolicy</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-scheduled-action">
    <a href="/amazon/autoscaling/delete-scheduled-action.html">DeleteScheduledAction</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-tags">
    <a href="/amazon/autoscaling/delete-tags.html">DeleteTags</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-adjustment-types">
    <a href="/amazon/autoscaling/describe-adjustment-types.html">DescribeAdjustmentTypes</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-auto-scaling-groups">
    <a href="/amazon/autoscaling/describe-auto-scaling-groups.html">DescribeAutoScalingGroups</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-auto-scaling-instances">
    <a href="/amazon/autoscaling/describe-auto-scaling-instances.html">DescribeAutoScalingInstances</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-auto-scaling-notification-types">
    <a href="/amazon/autoscaling/describe-auto-scaling-notification-types.html">DescribeAutoScalingNotificationTypes</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-launch-configurations">
    <a href="/amazon/autoscaling/describe-launch-configurations.html">DescribeLaunchConfigurations</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-metric-collection-types">
    <a href="/amazon/autoscaling/describe-metric-collection-types.html">DescribeMetricCollectionTypes</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-notification-configurations">
    <a href="/amazon/autoscaling/describe-notification-configurations.html">DescribeNotificationConfigurations</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-policies">
    <a href="/amazon/autoscaling/describe-policies.html">DescribePolicies</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-scaling-activities">
    <a href="/amazon/autoscaling/describe-scaling-activities.html">DescribeScalingActivities</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-scaling-process-types">
    <a href="/amazon/autoscaling/describe-scaling-process-types.html">DescribeScalingProcessTypes</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-scheduled-actions">
    <a href="/amazon/autoscaling/describe-scheduled-actions.html">DescribeScheduledActions</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-tags">
    <a href="/amazon/autoscaling/describe-tags.html">DescribeTags</a>
  </li>
  <li class="tab-amazon-autoscaling-disable-metrics-collection">
    <a href="/amazon/autoscaling/disable-metrics-collection.html">DisableMetricsCollection</a>
  </li>
  <li class="tab-amazon-autoscaling-enable-metrics-collection">
    <a href="/amazon/autoscaling/enable-metrics-collection.html">EnableMetricsCollection</a>
  </li>
  <li class="tab-amazon-autoscaling-execute-policy">
    <a href="/amazon/autoscaling/execute-policy.html">ExecutePolicy</a>
  </li>
  <li class="tab-amazon-autoscaling-put-notification-configuration">
    <a href="/amazon/autoscaling/put-notification-configuration.html">PutNotificationConfiguration</a>
  </li>
  <li class="tab-amazon-autoscaling-put-scaling-policy">
    <a href="/amazon/autoscaling/put-scaling-policy.html">PutScalingPolicy</a>
  </li>
  <li class="tab-amazon-autoscaling-put-scheduled-update-group-action">
    <a href="/amazon/autoscaling/put-scheduled-update-group-action.html">PutScheduledUpdateGroupAction</a>
  </li>
  <li class="tab-amazon-autoscaling-resume-processes">
    <a href="/amazon/autoscaling/resume-processes.html">ResumeProcesses</a>
  </li>
  <li class="tab-amazon-autoscaling-set-desired-capacity">
    <a href="/amazon/autoscaling/set-desired-capacity.html">SetDesiredCapacity</a>
  </li>
  <li class="tab-amazon-autoscaling-set-instance-health">
    <a href="/amazon/autoscaling/set-instance-health.html">SetInstanceHealth</a>
  </li>
  <li class="tab-amazon-autoscaling-suspend-processes">
    <a href="/amazon/autoscaling/suspend-processes.html">SuspendProcesses</a>
  </li>
  <li class="tab-amazon-autoscaling-terminate-instance-in-auto-scaling-group">
    <a href="/amazon/autoscaling/terminate-instance-in-auto-scaling-group.html">TerminateInstanceInAutoScalingGroup</a>
  </li>
  <li class="tab-amazon-autoscaling-update-auto-scaling-group">
    <a href="/amazon/autoscaling/update-auto-scaling-group.html">UpdateAutoScalingGroup</a>
  </li>
