  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-cloudsearch nav-header">Amazon CloudSearch</li>
  <li class="tab-amazon-cloudsearch-create-domain">
    <a href="/amazon/cloudsearch/CreateDomain.html">CreateDomain</a>
  </li>
  <li class="tab-amazon-cloudsearch-define-index-field">
    <a href="/amazon/cloudsearch/DefineIndexField.html">DefineIndexField</a>
  </li>
  <li class="tab-amazon-cloudsearch-define-rank-expression">
    <a href="/amazon/cloudsearch/DefineRankExpression.html">DefineRankExpression</a>
  </li>
  <li class="tab-amazon-cloudsearch-delete-domain">
    <a href="/amazon/cloudsearch/DeleteDomain.html">DeleteDomain</a>
  </li>
  <li class="tab-amazon-cloudsearch-delete-index-field">
    <a href="/amazon/cloudsearch/DeleteIndexField.html">DeleteIndexField</a>
  </li>
  <li class="tab-amazon-cloudsearch-delete-rank-expression">
    <a href="/amazon/cloudsearch/DeleteRankExpression.html">DeleteRankExpression</a>
  </li>
  <li class="tab-amazon-cloudsearch-describe-default-search-field">
    <a href="/amazon/cloudsearch/DescribeDefaultSearchField.html">DescribeDefaultSearchField</a>
  </li>
  <li class="tab-amazon-cloudsearch-describe-domains">
    <a href="/amazon/cloudsearch/DescribeDomains.html">DescribeDomains</a>
  </li>
  <li class="tab-amazon-cloudsearch-describe-index-fields">
    <a href="/amazon/cloudsearch/DescribeIndexFields.html">DescribeIndexFields</a>
  </li>
  <li class="tab-amazon-cloudsearch-describe-rank-expressions">
    <a href="/amazon/cloudsearch/DescribeRankExpressions.html">DescribeRankExpressions</a>
  </li>
  <li class="tab-amazon-cloudsearch-describe-service-access-policies">
    <a href="/amazon/cloudsearch/DescribeServiceAccessPolicies.html">DescribeServiceAccessPolicies</a>
  </li>
  <li class="tab-amazon-cloudsearch-describe-stemming-options">
    <a href="/amazon/cloudsearch/DescribeStemmingOptions.html">DescribeStemmingOptions</a>
  </li>
  <li class="tab-amazon-cloudsearch-describe-stopword-options">
    <a href="/amazon/cloudsearch/DescribeStopwordOptions.html">DescribeStopwordOptions</a>
  </li>
  <li class="tab-amazon-cloudsearch-describe-synonym-options">
    <a href="/amazon/cloudsearch/DescribeSynonymOptions.html">DescribeSynonymOptions</a>
  </li>
  <li class="tab-amazon-cloudsearch-index-documents">
    <a href="/amazon/cloudsearch/IndexDocuments.html">IndexDocuments</a>
  </li>
  <li class="tab-amazon-cloudsearch-update-default-search-field">
    <a href="/amazon/cloudsearch/UpdateDefaultSearchField.html">UpdateDefaultSearchField</a>
  </li>
  <li class="tab-amazon-cloudsearch-update-service-access-policies">
    <a href="/amazon/cloudsearch/UpdateServiceAccessPolicies.html">UpdateServiceAccessPolicies</a>
  </li>
  <li class="tab-amazon-cloudsearch-update-stemming-options">
    <a href="/amazon/cloudsearch/UpdateStemmingOptions.html">UpdateStemmingOptions</a>
  </li>
  <li class="tab-amazon-cloudsearch-update-stopword-options">
    <a href="/amazon/cloudsearch/UpdateStopwordOptions.html">UpdateStopwordOptions</a>
  </li>
  <li class="tab-amazon-cloudsearch-update-synonym-options">
    <a href="/amazon/cloudsearch/UpdateSynonymOptions.html">UpdateSynonymOptions</a>
  </li>
