<div class="well sidebar-nav">
  <ul class="nav nav-list">

    <li class="tab-basics nav-header">Basics</li>
    <li class="tab-installing"><a href="#installing">Installing</a></li>
    <li class="tab-loading"><a href="#loading">Loading</a></li>
    <li class="tab-async"><a href="#async">Async</a></li>
    <li class="tab-operations"><a href="#operations">Operations</a></li>

    <li class="tab-amazon nav-header">Web Services</li>
    <li class="tab-amazon-s3"><a href="amazon.html">Amazon</a></li>

  </ul>
</div><!-- /.well -->
