  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-cloudfront nav-header">Amazon CloudFront</li>
  <li class="tab-amazon-cloudfront-create-distribution">
    <a href="/amazon/cloudfront/create-distribution.html">CreateDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-create-invalidation">
    <a href="/amazon/cloudfront/create-invalidation.html">CreateInvalidation</a>
  </li>
  <li class="tab-amazon-cloudfront-create-oai">
    <a href="/amazon/cloudfront/create-oai.html">CreateOai</a>
  </li>
  <li class="tab-amazon-cloudfront-create-streaming-distribution">
    <a href="/amazon/cloudfront/create-streaming-distribution.html">CreateStreamingDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-delete-distribution">
    <a href="/amazon/cloudfront/delete-distribution.html">DeleteDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-delete-oai">
    <a href="/amazon/cloudfront/delete-oai.html">DeleteOai</a>
  </li>
  <li class="tab-amazon-cloudfront-delete-streaming-distribution">
    <a href="/amazon/cloudfront/delete-streaming-distribution.html">DeleteStreamingDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-get-distribution">
    <a href="/amazon/cloudfront/get-distribution.html">GetDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-get-distribution-config">
    <a href="/amazon/cloudfront/get-distribution-config.html">GetDistributionConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-get-invalidation">
    <a href="/amazon/cloudfront/get-invalidation.html">GetInvalidation</a>
  </li>
  <li class="tab-amazon-cloudfront-get-oai">
    <a href="/amazon/cloudfront/get-oai.html">GetOai</a>
  </li>
  <li class="tab-amazon-cloudfront-get-oai-config">
    <a href="/amazon/cloudfront/get-oai-config.html">GetOaiConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-get-streaming-distribution">
    <a href="/amazon/cloudfront/get-streaming-distribution.html">GetStreamingDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-get-streaming-distribution-config">
    <a href="/amazon/cloudfront/get-streaming-distribution-config.html">GetStreamingDistributionConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-list-distributions">
    <a href="/amazon/cloudfront/list-distributions.html">ListDistributions</a>
  </li>
  <li class="tab-amazon-cloudfront-list-invalidations">
    <a href="/amazon/cloudfront/list-invalidations.html">ListInvalidations</a>
  </li>
  <li class="tab-amazon-cloudfront-list-oais">
    <a href="/amazon/cloudfront/list-oais.html">ListOais</a>
  </li>
  <li class="tab-amazon-cloudfront-list-streaming-distributions">
    <a href="/amazon/cloudfront/list-streaming-distributions.html">ListStreamingDistributions</a>
  </li>
  <li class="tab-amazon-cloudfront-put-distribution-config">
    <a href="/amazon/cloudfront/put-distribution-config.html">PutDistributionConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-put-oai-config">
    <a href="/amazon/cloudfront/put-oai-config.html">PutOaiConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-put-streaming-distribution-config">
    <a href="/amazon/cloudfront/put-streaming-distribution-config.html">PutStreamingDistributionConfig</a>
  </li>
