  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-cloudformation nav-header">Amazon CloudFormation</li>
  <li class="tab-amazon-cloudformation-create-stack">
    <a href="/amazon/cloudformation/create-stack.html">CreateStack</a>
  </li>
  <li class="tab-amazon-cloudformation-delete-stack">
    <a href="/amazon/cloudformation/delete-stack.html">DeleteStack</a>
  </li>
  <li class="tab-amazon-cloudformation-describe-stack-events">
    <a href="/amazon/cloudformation/describe-stack-events.html">DescribeStackEvents</a>
  </li>
  <li class="tab-amazon-cloudformation-describe-stack-resource">
    <a href="/amazon/cloudformation/describe-stack-resource.html">DescribeStackResource</a>
  </li>
  <li class="tab-amazon-cloudformation-describe-stack-resources">
    <a href="/amazon/cloudformation/describe-stack-resources.html">DescribeStackResources</a>
  </li>
  <li class="tab-amazon-cloudformation-describe-stacks">
    <a href="/amazon/cloudformation/describe-stacks.html">DescribeStacks</a>
  </li>
  <li class="tab-amazon-cloudformation-estimate-template-cost">
    <a href="/amazon/cloudformation/estimate-template-cost.html">EstimateTemplateCost</a>
  </li>
  <li class="tab-amazon-cloudformation-get-template">
    <a href="/amazon/cloudformation/get-template.html">GetTemplate</a>
  </li>
  <li class="tab-amazon-cloudformation-list-stack-resources">
    <a href="/amazon/cloudformation/list-stack-resources.html">ListStackResources</a>
  </li>
  <li class="tab-amazon-cloudformation-list-stacks">
    <a href="/amazon/cloudformation/list-stacks.html">ListStacks</a>
  </li>
  <li class="tab-amazon-cloudformation-update-stack">
    <a href="/amazon/cloudformation/update-stack.html">UpdateStack</a>
  </li>
  <li class="tab-amazon-cloudformation-validate-template">
    <a href="/amazon/cloudformation/validate-template.html">ValidateTemplate</a>
  </li>
