  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-sqs nav-header">Amazon SQS</li>
  <li class="tab-amazon-sqs-add-permission">
    <a href="/amazon/sqs/add-permission.html">AddPermission</a>
  </li>
  <li class="tab-amazon-sqs-change-message-visibility">
    <a href="/amazon/sqs/change-message-visibility.html">ChangeMessageVisibility</a>
  </li>
  <li class="tab-amazon-sqs-change-message-visibility-batch">
    <a href="/amazon/sqs/change-message-visibility-batch.html">ChangeMessageVisibilityBatch</a>
  </li>
  <li class="tab-amazon-sqs-create-queue">
    <a href="/amazon/sqs/create-queue.html">CreateQueue</a>
  </li>
  <li class="tab-amazon-sqs-delete-message">
    <a href="/amazon/sqs/delete-message.html">DeleteMessage</a>
  </li>
  <li class="tab-amazon-sqs-delete-message-batch">
    <a href="/amazon/sqs/delete-message-batch.html">DeleteMessageBatch</a>
  </li>
  <li class="tab-amazon-sqs-delete-queue">
    <a href="/amazon/sqs/delete-queue.html">DeleteQueue</a>
  </li>
  <li class="tab-amazon-sqs-get-queue-attributes">
    <a href="/amazon/sqs/get-queue-attributes.html">GetQueueAttributes</a>
  </li>
  <li class="tab-amazon-sqs-get-queue-url">
    <a href="/amazon/sqs/get-queue-url.html">GetQueueUrl</a>
  </li>
  <li class="tab-amazon-sqs-list-queues">
    <a href="/amazon/sqs/list-queues.html">ListQueues</a>
  </li>
  <li class="tab-amazon-sqs-receive-message">
    <a href="/amazon/sqs/receive-message.html">ReceiveMessage</a>
  </li>
  <li class="tab-amazon-sqs-remove-permission">
    <a href="/amazon/sqs/remove-permission.html">RemovePermission</a>
  </li>
  <li class="tab-amazon-sqs-send-message">
    <a href="/amazon/sqs/send-message.html">SendMessage</a>
  </li>
  <li class="tab-amazon-sqs-send-message-batch">
    <a href="/amazon/sqs/send-message-batch.html">SendMessageBatch</a>
  </li>
  <li class="tab-amazon-sqs-set-queue-attributes">
    <a href="/amazon/sqs/set-queue-attributes.html">SetQueueAttributes</a>
  </li>
