  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-glacier nav-header">Amazon Glacier</li>
  <li class="tab-amazon-glacier-abort-multipart-upload">
    <a href="/amazon/glacier/abort-multipart-upload.html">AbortMultipartUpload</a>
  </li>
  <li class="tab-amazon-glacier-complete-multipart-upload">
    <a href="/amazon/glacier/complete-multipart-upload.html">CompleteMultipartUpload</a>
  </li>
  <li class="tab-amazon-glacier-create-vault">
    <a href="/amazon/glacier/create-vault.html">CreateVault</a>
  </li>
  <li class="tab-amazon-glacier-delete-archive">
    <a href="/amazon/glacier/delete-archive.html">DeleteArchive</a>
  </li>
  <li class="tab-amazon-glacier-delete-vault">
    <a href="/amazon/glacier/delete-vault.html">DeleteVault</a>
  </li>
  <li class="tab-amazon-glacier-delete-vault-notifications">
    <a href="/amazon/glacier/delete-vault-notifications.html">DeleteVaultNotifications</a>
  </li>
  <li class="tab-amazon-glacier-describe-job">
    <a href="/amazon/glacier/describe-job.html">DescribeJob</a>
  </li>
  <li class="tab-amazon-glacier-describe-vault">
    <a href="/amazon/glacier/describe-vault.html">DescribeVault</a>
  </li>
  <li class="tab-amazon-glacier-get-job-output">
    <a href="/amazon/glacier/get-job-output.html">GetJobOutput</a>
  </li>
  <li class="tab-amazon-glacier-get-vault-notifications">
    <a href="/amazon/glacier/get-vault-notifications.html">GetVaultNotifications</a>
  </li>
  <li class="tab-amazon-glacier-initiate-job">
    <a href="/amazon/glacier/initiate-job.html">InitiateJob</a>
  </li>
  <li class="tab-amazon-glacier-initiate-multipart-upload">
    <a href="/amazon/glacier/initiate-multipart-upload.html">InitiateMultipartUpload</a>
  </li>
  <li class="tab-amazon-glacier-list-jobs">
    <a href="/amazon/glacier/list-jobs.html">ListJobs</a>
  </li>
  <li class="tab-amazon-glacier-list-multipart-uploads">
    <a href="/amazon/glacier/list-multipart-uploads.html">ListMultipartUploads</a>
  </li>
  <li class="tab-amazon-glacier-list-parts">
    <a href="/amazon/glacier/list-parts.html">ListParts</a>
  </li>
  <li class="tab-amazon-glacier-list-vaults">
    <a href="/amazon/glacier/list-vaults.html">ListVaults</a>
  </li>
  <li class="tab-amazon-glacier-set-vault-notification-configuration">
    <a href="/amazon/glacier/set-vault-notification-configuration.html">SetVaultNotificationConfiguration</a>
  </li>
  <li class="tab-amazon-glacier-upload-archive">
    <a href="/amazon/glacier/upload-archive.html">UploadArchive</a>
  </li>
  <li class="tab-amazon-glacier-upload-part">
    <a href="/amazon/glacier/upload-part.html">UploadPart</a>
  </li>
