  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-elasticbeanstalk nav-header">Amazon ElasticBeanstalk</li>
  <li class="tab-amazon-elasticbeanstalk-check-d-n-s-availability">
    <a href="/amazon/elasticbeanstalk/CheckDNSAvailability.html">CheckDNSAvailability</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-application">
    <a href="/amazon/elasticbeanstalk/CreateApplication.html">CreateApplication</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-application-version">
    <a href="/amazon/elasticbeanstalk/CreateApplicationVersion.html">CreateApplicationVersion</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-configuration-template">
    <a href="/amazon/elasticbeanstalk/CreateConfigurationTemplate.html">CreateConfigurationTemplate</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-environment">
    <a href="/amazon/elasticbeanstalk/CreateEnvironment.html">CreateEnvironment</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-storage-location">
    <a href="/amazon/elasticbeanstalk/CreateStorageLocation.html">CreateStorageLocation</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-delete-application">
    <a href="/amazon/elasticbeanstalk/DeleteApplication.html">DeleteApplication</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-delete-application-version">
    <a href="/amazon/elasticbeanstalk/DeleteApplicationVersion.html">DeleteApplicationVersion</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-delete-configuration-template">
    <a href="/amazon/elasticbeanstalk/DeleteConfigurationTemplate.html">DeleteConfigurationTemplate</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-delete-environment-configuration">
    <a href="/amazon/elasticbeanstalk/DeleteEnvironmentConfiguration.html">DeleteEnvironmentConfiguration</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-application-versions">
    <a href="/amazon/elasticbeanstalk/DescribeApplicationVersions.html">DescribeApplicationVersions</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-applications">
    <a href="/amazon/elasticbeanstalk/DescribeApplications.html">DescribeApplications</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-configuration-options">
    <a href="/amazon/elasticbeanstalk/DescribeConfigurationOptions.html">DescribeConfigurationOptions</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-configuration-settings">
    <a href="/amazon/elasticbeanstalk/DescribeConfigurationSettings.html">DescribeConfigurationSettings</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-environment-resources">
    <a href="/amazon/elasticbeanstalk/DescribeEnvironmentResources.html">DescribeEnvironmentResources</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-environments">
    <a href="/amazon/elasticbeanstalk/DescribeEnvironments.html">DescribeEnvironments</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-events">
    <a href="/amazon/elasticbeanstalk/DescribeEvents.html">DescribeEvents</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-list-available-solution-stacks">
    <a href="/amazon/elasticbeanstalk/ListAvailableSolutionStacks.html">ListAvailableSolutionStacks</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-rebuild-environment">
    <a href="/amazon/elasticbeanstalk/RebuildEnvironment.html">RebuildEnvironment</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-request-environment-info">
    <a href="/amazon/elasticbeanstalk/RequestEnvironmentInfo.html">RequestEnvironmentInfo</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-restart-app-server">
    <a href="/amazon/elasticbeanstalk/RestartAppServer.html">RestartAppServer</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-retrieve-environment-info">
    <a href="/amazon/elasticbeanstalk/RetrieveEnvironmentInfo.html">RetrieveEnvironmentInfo</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-swap-environment-c-n-a-m-es">
    <a href="/amazon/elasticbeanstalk/SwapEnvironmentCNAMEs.html">SwapEnvironmentCNAMEs</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-terminate-environment">
    <a href="/amazon/elasticbeanstalk/TerminateEnvironment.html">TerminateEnvironment</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-update-application">
    <a href="/amazon/elasticbeanstalk/UpdateApplication.html">UpdateApplication</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-update-application-version">
    <a href="/amazon/elasticbeanstalk/UpdateApplicationVersion.html">UpdateApplicationVersion</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-update-configuration-template">
    <a href="/amazon/elasticbeanstalk/UpdateConfigurationTemplate.html">UpdateConfigurationTemplate</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-update-environment">
    <a href="/amazon/elasticbeanstalk/UpdateEnvironment.html">UpdateEnvironment</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-validate-configuration-settings">
    <a href="/amazon/elasticbeanstalk/ValidateConfigurationSettings.html">ValidateConfigurationSettings</a>
  </li>
