  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-dynamodb nav-header">Amazon DynamoDB</li>
  <li class="tab-amazon-dynamodb-batch-get-items">
    <a href="/amazon/dynamodb/batch-get-items.html">BatchGetItems</a>
  </li>
  <li class="tab-amazon-dynamodb-batch-write-item">
    <a href="/amazon/dynamodb/batch-write-item.html">BatchWriteItem</a>
  </li>
  <li class="tab-amazon-dynamodb-create-table">
    <a href="/amazon/dynamodb/create-table.html">CreateTable</a>
  </li>
  <li class="tab-amazon-dynamodb-delete-item">
    <a href="/amazon/dynamodb/delete-item.html">DeleteItem</a>
  </li>
  <li class="tab-amazon-dynamodb-delete-table">
    <a href="/amazon/dynamodb/delete-table.html">DeleteTable</a>
  </li>
  <li class="tab-amazon-dynamodb-describe-table">
    <a href="/amazon/dynamodb/describe-table.html">DescribeTable</a>
  </li>
  <li class="tab-amazon-dynamodb-get-item">
    <a href="/amazon/dynamodb/get-item.html">GetItem</a>
  </li>
  <li class="tab-amazon-dynamodb-list-tables">
    <a href="/amazon/dynamodb/list-tables.html">ListTables</a>
  </li>
  <li class="tab-amazon-dynamodb-put-item">
    <a href="/amazon/dynamodb/put-item.html">PutItem</a>
  </li>
  <li class="tab-amazon-dynamodb-query">
    <a href="/amazon/dynamodb/query.html">Query</a>
  </li>
  <li class="tab-amazon-dynamodb-scan">
    <a href="/amazon/dynamodb/scan.html">Scan</a>
  </li>
  <li class="tab-amazon-dynamodb-update-item">
    <a href="/amazon/dynamodb/update-item.html">UpdateItem</a>
  </li>
  <li class="tab-amazon-dynamodb-update-table">
    <a href="/amazon/dynamodb/update-table.html">UpdateTable</a>
  </li>
  <li class="tab-amazon-dynamodb-rl">
    <a href="/amazon/dynamodb/rl.html">url</a>
  </li>
