  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-ses nav-header">Amazon SES</li>
  <li class="tab-amazon-ses-delete-identity">
    <a href="/amazon/ses/delete-identity.html">DeleteIdentity</a>
  </li>
  <li class="tab-amazon-ses-delete-verified-email-address">
    <a href="/amazon/ses/delete-verified-email-address.html">DeleteVerifiedEmailAddress</a>
  </li>
  <li class="tab-amazon-ses-get-identity-dkim-attributes">
    <a href="/amazon/ses/get-identity-dkim-attributes.html">GetIdentityDkimAttributes</a>
  </li>
  <li class="tab-amazon-ses-get-identity-notification-attributes">
    <a href="/amazon/ses/get-identity-notification-attributes.html">GetIdentityNotificationAttributes</a>
  </li>
  <li class="tab-amazon-ses-get-identity-verification-attributes">
    <a href="/amazon/ses/get-identity-verification-attributes.html">GetIdentityVerificationAttributes</a>
  </li>
  <li class="tab-amazon-ses-get-send-quota">
    <a href="/amazon/ses/get-send-quota.html">GetSendQuota</a>
  </li>
  <li class="tab-amazon-ses-get-send-statistics">
    <a href="/amazon/ses/get-send-statistics.html">GetSendStatistics</a>
  </li>
  <li class="tab-amazon-ses-list-identities">
    <a href="/amazon/ses/list-identities.html">ListIdentities</a>
  </li>
  <li class="tab-amazon-ses-list-verified-email-addresses">
    <a href="/amazon/ses/list-verified-email-addresses.html">ListVerifiedEmailAddresses</a>
  </li>
  <li class="tab-amazon-ses-send-email">
    <a href="/amazon/ses/send-email.html">SendEmail</a>
  </li>
  <li class="tab-amazon-ses-send-raw-email">
    <a href="/amazon/ses/send-raw-email.html">SendRawEmail</a>
  </li>
  <li class="tab-amazon-ses-set-identity-dkim-enabled">
    <a href="/amazon/ses/set-identity-dkim-enabled.html">SetIdentityDkimEnabled</a>
  </li>
  <li class="tab-amazon-ses-set-identity-feedback-forwarding-enabled">
    <a href="/amazon/ses/set-identity-feedback-forwarding-enabled.html">SetIdentityFeedbackForwardingEnabled</a>
  </li>
  <li class="tab-amazon-ses-set-identity-notification-topic">
    <a href="/amazon/ses/set-identity-notification-topic.html">SetIdentityNotificationTopic</a>
  </li>
  <li class="tab-amazon-ses-verify-domain-dkim">
    <a href="/amazon/ses/verify-domain-dkim.html">VerifyDomainDkim</a>
  </li>
  <li class="tab-amazon-ses-verify-domain-identity">
    <a href="/amazon/ses/verify-domain-identity.html">VerifyDomainIdentity</a>
  </li>
  <li class="tab-amazon-ses-verify-email-address">
    <a href="/amazon/ses/verify-email-address.html">VerifyEmailAddress</a>
  </li>
  <li class="tab-amazon-ses-verify-email-identity">
    <a href="/amazon/ses/verify-email-identity.html">VerifyEmailIdentity</a>
  </li>
