  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-autoscaling nav-header">Amazon AutoScaling</li>
  <li class="tab-amazon-autoscaling-create-auto-scaling-group">
    <a href="/amazon/autoscaling/CreateAutoScalingGroup.html">CreateAutoScalingGroup</a>
  </li>
  <li class="tab-amazon-autoscaling-create-launch-configuration">
    <a href="/amazon/autoscaling/CreateLaunchConfiguration.html">CreateLaunchConfiguration</a>
  </li>
  <li class="tab-amazon-autoscaling-create-or-update-tags">
    <a href="/amazon/autoscaling/CreateOrUpdateTags.html">CreateOrUpdateTags</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-auto-scaling-group">
    <a href="/amazon/autoscaling/DeleteAutoScalingGroup.html">DeleteAutoScalingGroup</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-launch-configuration">
    <a href="/amazon/autoscaling/DeleteLaunchConfiguration.html">DeleteLaunchConfiguration</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-notification-configuration">
    <a href="/amazon/autoscaling/DeleteNotificationConfiguration.html">DeleteNotificationConfiguration</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-policy">
    <a href="/amazon/autoscaling/DeletePolicy.html">DeletePolicy</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-scheduled-action">
    <a href="/amazon/autoscaling/DeleteScheduledAction.html">DeleteScheduledAction</a>
  </li>
  <li class="tab-amazon-autoscaling-delete-tags">
    <a href="/amazon/autoscaling/DeleteTags.html">DeleteTags</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-adjustment-types">
    <a href="/amazon/autoscaling/DescribeAdjustmentTypes.html">DescribeAdjustmentTypes</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-auto-scaling-groups">
    <a href="/amazon/autoscaling/DescribeAutoScalingGroups.html">DescribeAutoScalingGroups</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-auto-scaling-instances">
    <a href="/amazon/autoscaling/DescribeAutoScalingInstances.html">DescribeAutoScalingInstances</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-auto-scaling-notification-types">
    <a href="/amazon/autoscaling/DescribeAutoScalingNotificationTypes.html">DescribeAutoScalingNotificationTypes</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-launch-configurations">
    <a href="/amazon/autoscaling/DescribeLaunchConfigurations.html">DescribeLaunchConfigurations</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-metric-collection-types">
    <a href="/amazon/autoscaling/DescribeMetricCollectionTypes.html">DescribeMetricCollectionTypes</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-notification-configurations">
    <a href="/amazon/autoscaling/DescribeNotificationConfigurations.html">DescribeNotificationConfigurations</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-policies">
    <a href="/amazon/autoscaling/DescribePolicies.html">DescribePolicies</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-scaling-activities">
    <a href="/amazon/autoscaling/DescribeScalingActivities.html">DescribeScalingActivities</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-scaling-process-types">
    <a href="/amazon/autoscaling/DescribeScalingProcessTypes.html">DescribeScalingProcessTypes</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-scheduled-actions">
    <a href="/amazon/autoscaling/DescribeScheduledActions.html">DescribeScheduledActions</a>
  </li>
  <li class="tab-amazon-autoscaling-describe-tags">
    <a href="/amazon/autoscaling/DescribeTags.html">DescribeTags</a>
  </li>
  <li class="tab-amazon-autoscaling-disable-metrics-collection">
    <a href="/amazon/autoscaling/DisableMetricsCollection.html">DisableMetricsCollection</a>
  </li>
  <li class="tab-amazon-autoscaling-enable-metrics-collection">
    <a href="/amazon/autoscaling/EnableMetricsCollection.html">EnableMetricsCollection</a>
  </li>
  <li class="tab-amazon-autoscaling-execute-policy">
    <a href="/amazon/autoscaling/ExecutePolicy.html">ExecutePolicy</a>
  </li>
  <li class="tab-amazon-autoscaling-put-notification-configuration">
    <a href="/amazon/autoscaling/PutNotificationConfiguration.html">PutNotificationConfiguration</a>
  </li>
  <li class="tab-amazon-autoscaling-put-scaling-policy">
    <a href="/amazon/autoscaling/PutScalingPolicy.html">PutScalingPolicy</a>
  </li>
  <li class="tab-amazon-autoscaling-put-scheduled-update-group-action">
    <a href="/amazon/autoscaling/PutScheduledUpdateGroupAction.html">PutScheduledUpdateGroupAction</a>
  </li>
  <li class="tab-amazon-autoscaling-resume-processes">
    <a href="/amazon/autoscaling/ResumeProcesses.html">ResumeProcesses</a>
  </li>
  <li class="tab-amazon-autoscaling-set-desired-capacity">
    <a href="/amazon/autoscaling/SetDesiredCapacity.html">SetDesiredCapacity</a>
  </li>
  <li class="tab-amazon-autoscaling-set-instance-health">
    <a href="/amazon/autoscaling/SetInstanceHealth.html">SetInstanceHealth</a>
  </li>
  <li class="tab-amazon-autoscaling-suspend-processes">
    <a href="/amazon/autoscaling/SuspendProcesses.html">SuspendProcesses</a>
  </li>
  <li class="tab-amazon-autoscaling-terminate-instance-in-auto-scaling-group">
    <a href="/amazon/autoscaling/TerminateInstanceInAutoScalingGroup.html">TerminateInstanceInAutoScalingGroup</a>
  </li>
  <li class="tab-amazon-autoscaling-update-auto-scaling-group">
    <a href="/amazon/autoscaling/UpdateAutoScalingGroup.html">UpdateAutoScalingGroup</a>
  </li>
