  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-sns nav-header">Amazon SNS</li>
  <li class="tab-amazon-sns-add-permission">
    <a href="/amazon/sns/AddPermission.html">AddPermission</a>
  </li>
  <li class="tab-amazon-sns-confirm-subscription">
    <a href="/amazon/sns/ConfirmSubscription.html">ConfirmSubscription</a>
  </li>
  <li class="tab-amazon-sns-create-topic">
    <a href="/amazon/sns/CreateTopic.html">CreateTopic</a>
  </li>
  <li class="tab-amazon-sns-delete-topic">
    <a href="/amazon/sns/DeleteTopic.html">DeleteTopic</a>
  </li>
  <li class="tab-amazon-sns-get-subscription-attributes">
    <a href="/amazon/sns/GetSubscriptionAttributes.html">GetSubscriptionAttributes</a>
  </li>
  <li class="tab-amazon-sns-get-topic-attributes">
    <a href="/amazon/sns/GetTopicAttributes.html">GetTopicAttributes</a>
  </li>
  <li class="tab-amazon-sns-list-subscriptions">
    <a href="/amazon/sns/ListSubscriptions.html">ListSubscriptions</a>
  </li>
  <li class="tab-amazon-sns-list-subscriptions-by-topic">
    <a href="/amazon/sns/ListSubscriptionsByTopic.html">ListSubscriptionsByTopic</a>
  </li>
  <li class="tab-amazon-sns-list-topics">
    <a href="/amazon/sns/ListTopics.html">ListTopics</a>
  </li>
  <li class="tab-amazon-sns-publish">
    <a href="/amazon/sns/Publish.html">Publish</a>
  </li>
  <li class="tab-amazon-sns-remove-permission">
    <a href="/amazon/sns/RemovePermission.html">RemovePermission</a>
  </li>
  <li class="tab-amazon-sns-set-subscription-attributes">
    <a href="/amazon/sns/SetSubscriptionAttributes.html">SetSubscriptionAttributes</a>
  </li>
  <li class="tab-amazon-sns-set-topic-attributes">
    <a href="/amazon/sns/SetTopicAttributes.html">SetTopicAttributes</a>
  </li>
  <li class="tab-amazon-sns-subscribe">
    <a href="/amazon/sns/Subscribe.html">Subscribe</a>
  </li>
  <li class="tab-amazon-sns-unsubscribe">
    <a href="/amazon/sns/Unsubscribe.html">Unsubscribe</a>
  </li>
