  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-cloudwatch nav-header">Amazon CloudWatch</li>
  <li class="tab-amazon-cloudwatch-delete-alarms">
    <a href="/amazon/cloudwatch/DeleteAlarms.html">DeleteAlarms</a>
  </li>
  <li class="tab-amazon-cloudwatch-describe-alarm-history">
    <a href="/amazon/cloudwatch/DescribeAlarmHistory.html">DescribeAlarmHistory</a>
  </li>
  <li class="tab-amazon-cloudwatch-describe-alarms">
    <a href="/amazon/cloudwatch/DescribeAlarms.html">DescribeAlarms</a>
  </li>
  <li class="tab-amazon-cloudwatch-describe-alarms-for-metric">
    <a href="/amazon/cloudwatch/DescribeAlarmsForMetric.html">DescribeAlarmsForMetric</a>
  </li>
  <li class="tab-amazon-cloudwatch-disable-alarm-actions">
    <a href="/amazon/cloudwatch/DisableAlarmActions.html">DisableAlarmActions</a>
  </li>
  <li class="tab-amazon-cloudwatch-enable-alarm-actions">
    <a href="/amazon/cloudwatch/EnableAlarmActions.html">EnableAlarmActions</a>
  </li>
  <li class="tab-amazon-cloudwatch-get-metric-statistics">
    <a href="/amazon/cloudwatch/GetMetricStatistics.html">GetMetricStatistics</a>
  </li>
  <li class="tab-amazon-cloudwatch-list-metrics">
    <a href="/amazon/cloudwatch/ListMetrics.html">ListMetrics</a>
  </li>
  <li class="tab-amazon-cloudwatch-put-metric-alarm">
    <a href="/amazon/cloudwatch/PutMetricAlarm.html">PutMetricAlarm</a>
  </li>
  <li class="tab-amazon-cloudwatch-put-metric-data">
    <a href="/amazon/cloudwatch/PutMetricData.html">PutMetricData</a>
  </li>
  <li class="tab-amazon-cloudwatch-set-alarm-state">
    <a href="/amazon/cloudwatch/SetAlarmState.html">SetAlarmState</a>
  </li>
