  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-storagegateway nav-header">Amazon StorageGateway</li>
  <li class="tab-amazon-storagegateway-activate-gateway">
    <a href="/amazon/storagegateway/activate-gateway.html">ActivateGateway</a>
  </li>
  <li class="tab-amazon-storagegateway-add-working-storage">
    <a href="/amazon/storagegateway/add-working-storage.html">AddWorkingStorage</a>
  </li>
  <li class="tab-amazon-storagegateway-create-snapshot">
    <a href="/amazon/storagegateway/create-snapshot.html">CreateSnapshot</a>
  </li>
  <li class="tab-amazon-storagegateway-create-storedi-s-c-s-i-volume">
    <a href="/amazon/storagegateway/create-storedi-s-c-s-i-volume.html">CreateStorediSCSIVolume</a>
  </li>
  <li class="tab-amazon-storagegateway-delete-bandwidth-rate-limit">
    <a href="/amazon/storagegateway/delete-bandwidth-rate-limit.html">DeleteBandwidthRateLimit</a>
  </li>
  <li class="tab-amazon-storagegateway-delete-chap-credentials">
    <a href="/amazon/storagegateway/delete-chap-credentials.html">DeleteChapCredentials</a>
  </li>
  <li class="tab-amazon-storagegateway-delete-gateway">
    <a href="/amazon/storagegateway/delete-gateway.html">DeleteGateway</a>
  </li>
  <li class="tab-amazon-storagegateway-delete-volume">
    <a href="/amazon/storagegateway/delete-volume.html">DeleteVolume</a>
  </li>
  <li class="tab-amazon-storagegateway-describe-bandwidth-rate-limit">
    <a href="/amazon/storagegateway/describe-bandwidth-rate-limit.html">DescribeBandwidthRateLimit</a>
  </li>
  <li class="tab-amazon-storagegateway-describe-chap-credentials">
    <a href="/amazon/storagegateway/describe-chap-credentials.html">DescribeChapCredentials</a>
  </li>
  <li class="tab-amazon-storagegateway-describe-gateway-information">
    <a href="/amazon/storagegateway/describe-gateway-information.html">DescribeGatewayInformation</a>
  </li>
  <li class="tab-amazon-storagegateway-describe-maintenance-start-time">
    <a href="/amazon/storagegateway/describe-maintenance-start-time.html">DescribeMaintenanceStartTime</a>
  </li>
  <li class="tab-amazon-storagegateway-describe-snapshot-schedule">
    <a href="/amazon/storagegateway/describe-snapshot-schedule.html">DescribeSnapshotSchedule</a>
  </li>
  <li class="tab-amazon-storagegateway-describe-storedi-s-c-s-i-volumes">
    <a href="/amazon/storagegateway/describe-storedi-s-c-s-i-volumes.html">DescribeStorediSCSIVolumes</a>
  </li>
  <li class="tab-amazon-storagegateway-describe-working-storage">
    <a href="/amazon/storagegateway/describe-working-storage.html">DescribeWorkingStorage</a>
  </li>
  <li class="tab-amazon-storagegateway-list-gateways">
    <a href="/amazon/storagegateway/list-gateways.html">ListGateways</a>
  </li>
  <li class="tab-amazon-storagegateway-list-local-disks">
    <a href="/amazon/storagegateway/list-local-disks.html">ListLocalDisks</a>
  </li>
  <li class="tab-amazon-storagegateway-list-volumes">
    <a href="/amazon/storagegateway/list-volumes.html">ListVolumes</a>
  </li>
  <li class="tab-amazon-storagegateway-shutdown-gateway">
    <a href="/amazon/storagegateway/shutdown-gateway.html">ShutdownGateway</a>
  </li>
  <li class="tab-amazon-storagegateway-start-gateway">
    <a href="/amazon/storagegateway/start-gateway.html">StartGateway</a>
  </li>
  <li class="tab-amazon-storagegateway-update-bandwidth-rate-limit">
    <a href="/amazon/storagegateway/update-bandwidth-rate-limit.html">UpdateBandwidthRateLimit</a>
  </li>
  <li class="tab-amazon-storagegateway-update-chap-credentials">
    <a href="/amazon/storagegateway/update-chap-credentials.html">UpdateChapCredentials</a>
  </li>
  <li class="tab-amazon-storagegateway-update-gateway-information">
    <a href="/amazon/storagegateway/update-gateway-information.html">UpdateGatewayInformation</a>
  </li>
  <li class="tab-amazon-storagegateway-update-gateway-software-now">
    <a href="/amazon/storagegateway/update-gateway-software-now.html">UpdateGatewaySoftwareNow</a>
  </li>
  <li class="tab-amazon-storagegateway-update-maintenance-start-time">
    <a href="/amazon/storagegateway/update-maintenance-start-time.html">UpdateMaintenanceStartTime</a>
  </li>
  <li class="tab-amazon-storagegateway-update-snapshot-schedule">
    <a href="/amazon/storagegateway/update-snapshot-schedule.html">UpdateSnapshotSchedule</a>
  </li>
