  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-cloudformation nav-header">Amazon CloudFormation</li>
  <li class="tab-amazon-cloudformation-create-stack">
    <a href="/amazon/cloudformation/CreateStack.html">CreateStack</a>
  </li>
  <li class="tab-amazon-cloudformation-delete-stack">
    <a href="/amazon/cloudformation/DeleteStack.html">DeleteStack</a>
  </li>
  <li class="tab-amazon-cloudformation-describe-stack-events">
    <a href="/amazon/cloudformation/DescribeStackEvents.html">DescribeStackEvents</a>
  </li>
  <li class="tab-amazon-cloudformation-describe-stack-resource">
    <a href="/amazon/cloudformation/DescribeStackResource.html">DescribeStackResource</a>
  </li>
  <li class="tab-amazon-cloudformation-describe-stack-resources">
    <a href="/amazon/cloudformation/DescribeStackResources.html">DescribeStackResources</a>
  </li>
  <li class="tab-amazon-cloudformation-describe-stacks">
    <a href="/amazon/cloudformation/DescribeStacks.html">DescribeStacks</a>
  </li>
  <li class="tab-amazon-cloudformation-estimate-template-cost">
    <a href="/amazon/cloudformation/EstimateTemplateCost.html">EstimateTemplateCost</a>
  </li>
  <li class="tab-amazon-cloudformation-get-template">
    <a href="/amazon/cloudformation/GetTemplate.html">GetTemplate</a>
  </li>
  <li class="tab-amazon-cloudformation-list-stack-resources">
    <a href="/amazon/cloudformation/ListStackResources.html">ListStackResources</a>
  </li>
  <li class="tab-amazon-cloudformation-list-stacks">
    <a href="/amazon/cloudformation/ListStacks.html">ListStacks</a>
  </li>
  <li class="tab-amazon-cloudformation-update-stack">
    <a href="/amazon/cloudformation/UpdateStack.html">UpdateStack</a>
  </li>
  <li class="tab-amazon-cloudformation-validate-template">
    <a href="/amazon/cloudformation/ValidateTemplate.html">ValidateTemplate</a>
  </li>
