  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-cloudfront nav-header">Amazon CloudFront</li>
  <li class="tab-amazon-cloudfront-create-distribution">
    <a href="/amazon/cloudfront/CreateDistribution.html">CreateDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-create-invalidation">
    <a href="/amazon/cloudfront/CreateInvalidation.html">CreateInvalidation</a>
  </li>
  <li class="tab-amazon-cloudfront-create-oai">
    <a href="/amazon/cloudfront/CreateOai.html">CreateOai</a>
  </li>
  <li class="tab-amazon-cloudfront-create-streaming-distribution">
    <a href="/amazon/cloudfront/CreateStreamingDistribution.html">CreateStreamingDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-delete-distribution">
    <a href="/amazon/cloudfront/DeleteDistribution.html">DeleteDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-delete-oai">
    <a href="/amazon/cloudfront/DeleteOai.html">DeleteOai</a>
  </li>
  <li class="tab-amazon-cloudfront-delete-streaming-distribution">
    <a href="/amazon/cloudfront/DeleteStreamingDistribution.html">DeleteStreamingDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-get-distribution">
    <a href="/amazon/cloudfront/GetDistribution.html">GetDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-get-distribution-config">
    <a href="/amazon/cloudfront/GetDistributionConfig.html">GetDistributionConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-get-invalidation">
    <a href="/amazon/cloudfront/GetInvalidation.html">GetInvalidation</a>
  </li>
  <li class="tab-amazon-cloudfront-get-oai">
    <a href="/amazon/cloudfront/GetOai.html">GetOai</a>
  </li>
  <li class="tab-amazon-cloudfront-get-oai-config">
    <a href="/amazon/cloudfront/GetOaiConfig.html">GetOaiConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-get-streaming-distribution">
    <a href="/amazon/cloudfront/GetStreamingDistribution.html">GetStreamingDistribution</a>
  </li>
  <li class="tab-amazon-cloudfront-get-streaming-distribution-config">
    <a href="/amazon/cloudfront/GetStreamingDistributionConfig.html">GetStreamingDistributionConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-list-distributions">
    <a href="/amazon/cloudfront/ListDistributions.html">ListDistributions</a>
  </li>
  <li class="tab-amazon-cloudfront-list-invalidations">
    <a href="/amazon/cloudfront/ListInvalidations.html">ListInvalidations</a>
  </li>
  <li class="tab-amazon-cloudfront-list-oais">
    <a href="/amazon/cloudfront/ListOais.html">ListOais</a>
  </li>
  <li class="tab-amazon-cloudfront-list-streaming-distributions">
    <a href="/amazon/cloudfront/ListStreamingDistributions.html">ListStreamingDistributions</a>
  </li>
  <li class="tab-amazon-cloudfront-put-distribution-config">
    <a href="/amazon/cloudfront/PutDistributionConfig.html">PutDistributionConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-put-oai-config">
    <a href="/amazon/cloudfront/PutOaiConfig.html">PutOaiConfig</a>
  </li>
  <li class="tab-amazon-cloudfront-put-streaming-distribution-config">
    <a href="/amazon/cloudfront/PutStreamingDistributionConfig.html">PutStreamingDistributionConfig</a>
  </li>
