  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-route53 nav-header">Amazon Route53</li>
  <li class="tab-amazon-route53-change-resource-record-sets">
    <a href="/amazon/route53/change-resource-record-sets.html">ChangeResourceRecordSets</a>
  </li>
  <li class="tab-amazon-route53-create-hosted-zone">
    <a href="/amazon/route53/create-hosted-zone.html">CreateHostedZone</a>
  </li>
  <li class="tab-amazon-route53-delete-hosted-zone">
    <a href="/amazon/route53/delete-hosted-zone.html">DeleteHostedZone</a>
  </li>
  <li class="tab-amazon-route53-get-change">
    <a href="/amazon/route53/get-change.html">GetChange</a>
  </li>
  <li class="tab-amazon-route53-get-hosted-zone">
    <a href="/amazon/route53/get-hosted-zone.html">GetHostedZone</a>
  </li>
  <li class="tab-amazon-route53-list-hosted-zones">
    <a href="/amazon/route53/list-hosted-zones.html">ListHostedZones</a>
  </li>
  <li class="tab-amazon-route53-list-resource-record-sets">
    <a href="/amazon/route53/list-resource-record-sets.html">ListResourceRecordSets</a>
  </li>
