  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-route53 nav-header">Amazon Route53</li>
  <li class="tab-amazon-route53-change-resource-record-sets">
    <a href="/amazon/route53/ChangeResourceRecordSets.html">ChangeResourceRecordSets</a>
  </li>
  <li class="tab-amazon-route53-create-hosted-zone">
    <a href="/amazon/route53/CreateHostedZone.html">CreateHostedZone</a>
  </li>
  <li class="tab-amazon-route53-delete-hosted-zone">
    <a href="/amazon/route53/DeleteHostedZone.html">DeleteHostedZone</a>
  </li>
  <li class="tab-amazon-route53-get-change">
    <a href="/amazon/route53/GetChange.html">GetChange</a>
  </li>
  <li class="tab-amazon-route53-get-hosted-zone">
    <a href="/amazon/route53/GetHostedZone.html">GetHostedZone</a>
  </li>
  <li class="tab-amazon-route53-list-hosted-zones">
    <a href="/amazon/route53/ListHostedZones.html">ListHostedZones</a>
  </li>
  <li class="tab-amazon-route53-list-resource-record-sets">
    <a href="/amazon/route53/ListResourceRecordSets.html">ListResourceRecordSets</a>
  </li>
