  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-elasticbeanstalk nav-header">Amazon ElasticBeanstalk</li>
  <li class="tab-amazon-elasticbeanstalk-check-d-n-s-availability">
    <a href="/amazon/elasticbeanstalk/check-d-n-s-availability.html">CheckDNSAvailability</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-application">
    <a href="/amazon/elasticbeanstalk/create-application.html">CreateApplication</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-application-version">
    <a href="/amazon/elasticbeanstalk/create-application-version.html">CreateApplicationVersion</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-configuration-template">
    <a href="/amazon/elasticbeanstalk/create-configuration-template.html">CreateConfigurationTemplate</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-environment">
    <a href="/amazon/elasticbeanstalk/create-environment.html">CreateEnvironment</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-create-storage-location">
    <a href="/amazon/elasticbeanstalk/create-storage-location.html">CreateStorageLocation</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-delete-application">
    <a href="/amazon/elasticbeanstalk/delete-application.html">DeleteApplication</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-delete-application-version">
    <a href="/amazon/elasticbeanstalk/delete-application-version.html">DeleteApplicationVersion</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-delete-configuration-template">
    <a href="/amazon/elasticbeanstalk/delete-configuration-template.html">DeleteConfigurationTemplate</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-delete-environment-configuration">
    <a href="/amazon/elasticbeanstalk/delete-environment-configuration.html">DeleteEnvironmentConfiguration</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-application-versions">
    <a href="/amazon/elasticbeanstalk/describe-application-versions.html">DescribeApplicationVersions</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-applications">
    <a href="/amazon/elasticbeanstalk/describe-applications.html">DescribeApplications</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-configuration-options">
    <a href="/amazon/elasticbeanstalk/describe-configuration-options.html">DescribeConfigurationOptions</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-configuration-settings">
    <a href="/amazon/elasticbeanstalk/describe-configuration-settings.html">DescribeConfigurationSettings</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-environment-resources">
    <a href="/amazon/elasticbeanstalk/describe-environment-resources.html">DescribeEnvironmentResources</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-environments">
    <a href="/amazon/elasticbeanstalk/describe-environments.html">DescribeEnvironments</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-describe-events">
    <a href="/amazon/elasticbeanstalk/describe-events.html">DescribeEvents</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-list-available-solution-stacks">
    <a href="/amazon/elasticbeanstalk/list-available-solution-stacks.html">ListAvailableSolutionStacks</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-rebuild-environment">
    <a href="/amazon/elasticbeanstalk/rebuild-environment.html">RebuildEnvironment</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-request-environment-info">
    <a href="/amazon/elasticbeanstalk/request-environment-info.html">RequestEnvironmentInfo</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-restart-app-server">
    <a href="/amazon/elasticbeanstalk/restart-app-server.html">RestartAppServer</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-retrieve-environment-info">
    <a href="/amazon/elasticbeanstalk/retrieve-environment-info.html">RetrieveEnvironmentInfo</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-swap-environment-c-n-a-m-es">
    <a href="/amazon/elasticbeanstalk/swap-environment-c-n-a-m-es.html">SwapEnvironmentCNAMEs</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-terminate-environment">
    <a href="/amazon/elasticbeanstalk/terminate-environment.html">TerminateEnvironment</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-update-application">
    <a href="/amazon/elasticbeanstalk/update-application.html">UpdateApplication</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-update-application-version">
    <a href="/amazon/elasticbeanstalk/update-application-version.html">UpdateApplicationVersion</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-update-configuration-template">
    <a href="/amazon/elasticbeanstalk/update-configuration-template.html">UpdateConfigurationTemplate</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-update-environment">
    <a href="/amazon/elasticbeanstalk/update-environment.html">UpdateEnvironment</a>
  </li>
  <li class="tab-amazon-elasticbeanstalk-validate-configuration-settings">
    <a href="/amazon/elasticbeanstalk/validate-configuration-settings.html">ValidateConfigurationSettings</a>
  </li>
