  <li><a href="/amazon/">&laquo; back</a></li>
  <li class="tab-amazon-swf nav-header">Amazon SWF</li>
  <li class="tab-amazon-swf-count-closed-workflow-executions">
    <a href="/amazon/swf/CountClosedWorkflowExecutions.html">CountClosedWorkflowExecutions</a>
  </li>
  <li class="tab-amazon-swf-count-open-workflow-executions">
    <a href="/amazon/swf/CountOpenWorkflowExecutions.html">CountOpenWorkflowExecutions</a>
  </li>
  <li class="tab-amazon-swf-count-pending-activity-tasks">
    <a href="/amazon/swf/CountPendingActivityTasks.html">CountPendingActivityTasks</a>
  </li>
  <li class="tab-amazon-swf-count-pending-decision-tasks">
    <a href="/amazon/swf/CountPendingDecisionTasks.html">CountPendingDecisionTasks</a>
  </li>
  <li class="tab-amazon-swf-deprecate-activity-type">
    <a href="/amazon/swf/DeprecateActivityType.html">DeprecateActivityType</a>
  </li>
  <li class="tab-amazon-swf-deprecate-domain">
    <a href="/amazon/swf/DeprecateDomain.html">DeprecateDomain</a>
  </li>
  <li class="tab-amazon-swf-deprecate-workflow-type">
    <a href="/amazon/swf/DeprecateWorkflowType.html">DeprecateWorkflowType</a>
  </li>
  <li class="tab-amazon-swf-describe-activity-type">
    <a href="/amazon/swf/DescribeActivityType.html">DescribeActivityType</a>
  </li>
  <li class="tab-amazon-swf-describe-domain">
    <a href="/amazon/swf/DescribeDomain.html">DescribeDomain</a>
  </li>
  <li class="tab-amazon-swf-describe-workflow-execution">
    <a href="/amazon/swf/DescribeWorkflowExecution.html">DescribeWorkflowExecution</a>
  </li>
  <li class="tab-amazon-swf-describe-workflow-type">
    <a href="/amazon/swf/DescribeWorkflowType.html">DescribeWorkflowType</a>
  </li>
  <li class="tab-amazon-swf-get-workflow-execution-history">
    <a href="/amazon/swf/GetWorkflowExecutionHistory.html">GetWorkflowExecutionHistory</a>
  </li>
  <li class="tab-amazon-swf-list-activity-types">
    <a href="/amazon/swf/ListActivityTypes.html">ListActivityTypes</a>
  </li>
  <li class="tab-amazon-swf-list-closed-workflow-executions">
    <a href="/amazon/swf/ListClosedWorkflowExecutions.html">ListClosedWorkflowExecutions</a>
  </li>
  <li class="tab-amazon-swf-list-domains">
    <a href="/amazon/swf/ListDomains.html">ListDomains</a>
  </li>
  <li class="tab-amazon-swf-list-open-workflow-executions">
    <a href="/amazon/swf/ListOpenWorkflowExecutions.html">ListOpenWorkflowExecutions</a>
  </li>
  <li class="tab-amazon-swf-list-workflow-types">
    <a href="/amazon/swf/ListWorkflowTypes.html">ListWorkflowTypes</a>
  </li>
  <li class="tab-amazon-swf-poll-for-activity-task">
    <a href="/amazon/swf/PollForActivityTask.html">PollForActivityTask</a>
  </li>
  <li class="tab-amazon-swf-poll-for-decision-task">
    <a href="/amazon/swf/PollForDecisionTask.html">PollForDecisionTask</a>
  </li>
  <li class="tab-amazon-swf-record-activity-task-heartbeat">
    <a href="/amazon/swf/RecordActivityTaskHeartbeat.html">RecordActivityTaskHeartbeat</a>
  </li>
  <li class="tab-amazon-swf-register-activity-type">
    <a href="/amazon/swf/RegisterActivityType.html">RegisterActivityType</a>
  </li>
  <li class="tab-amazon-swf-register-domain">
    <a href="/amazon/swf/RegisterDomain.html">RegisterDomain</a>
  </li>
  <li class="tab-amazon-swf-register-workflow-type">
    <a href="/amazon/swf/RegisterWorkflowType.html">RegisterWorkflowType</a>
  </li>
  <li class="tab-amazon-swf-request-cancel-workflow-execution">
    <a href="/amazon/swf/RequestCancelWorkflowExecution.html">RequestCancelWorkflowExecution</a>
  </li>
  <li class="tab-amazon-swf-respond-activity-task-canceled">
    <a href="/amazon/swf/RespondActivityTaskCanceled.html">RespondActivityTaskCanceled</a>
  </li>
  <li class="tab-amazon-swf-respond-activity-task-completed">
    <a href="/amazon/swf/RespondActivityTaskCompleted.html">RespondActivityTaskCompleted</a>
  </li>
  <li class="tab-amazon-swf-respond-activity-task-failed">
    <a href="/amazon/swf/RespondActivityTaskFailed.html">RespondActivityTaskFailed</a>
  </li>
  <li class="tab-amazon-swf-respond-decision-task-completed">
    <a href="/amazon/swf/RespondDecisionTaskCompleted.html">RespondDecisionTaskCompleted</a>
  </li>
  <li class="tab-amazon-swf-signal-workflow-execution">
    <a href="/amazon/swf/SignalWorkflowExecution.html">SignalWorkflowExecution</a>
  </li>
  <li class="tab-amazon-swf-start-workflow-execution">
    <a href="/amazon/swf/StartWorkflowExecution.html">StartWorkflowExecution</a>
  </li>
  <li class="tab-amazon-swf-terminate-workflow-execution">
    <a href="/amazon/swf/TerminateWorkflowExecution.html">TerminateWorkflowExecution</a>
  </li>
