---
id      : amazon-emr-modify-instance-groups
layout  : default
title   : Amazon EMR
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-emr.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ModifyInstanceGroups
    <small>(<a href="http://docs.amazonwebservices.com/ElasticMapReduce/latest/API/API_ModifyInstanceGroups.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>InstanceGroups (optional)</dt>
    <dd> (param-data)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
