---
id      : amazon-importexport-list-jobs
layout  : default
title   : Amazon ImportExport
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-importexport.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListJobs
    <small>(<a href="http://docs.amazonwebservices.com/AWSImportExport/latest/DG/WebListJobs.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>Marker (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxJobs (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
