---
id      : amazon-importexport-update-job
layout  : default
title   : Amazon ImportExport
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-importexport.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UpdateJob
    <small>(<a href="http://docs.amazonwebservices.com/AWSImportExport/latest/DG/WebUpdateJob.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>JobId (*)</dt>
    <dd>param</dd>
  
    <dt>JobType (*)</dt>
    <dd>param</dd>
  
    <dt>Manifest (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
