---
id      : amazon-imd-get
layout  : default
title   : Amazon IMD
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-imd.html %}
{% endcapture %}

{% capture main %}

  <h1>
    Get
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th width="20%">Param Name</th>
      <th width="10%">Required</th>
      <th width="10%">Type</th>
      <th width="60%">Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Category</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Version</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>List instance metadata</h3>
<p>This example shows how to list instance metadata. This can only be run inside an instance!</p>

<h4>Example</h4>
<pre>
imd.Get(function(err, data) {
    //fails
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
imd.Get({},function(err, data) {
    //fails
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
var params = {
    Version  : 'latest',
    Category : '/'
};
imd.Get(params,function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
var params = {
    Version  : 'latest',
    Category : '/meta-data/'
};
imd.Get(params,function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>List instance IAM-role</h3>
<p>This example shows how to list instance IAM-role. This can only be run inside an instance!</p>

<h4>Example</h4>
<pre>
var params = {
    Version  : 'latest',
    Category : '/meta-data/iam/security-credentials/your_iam_role_name'
};
imd.Get(params,function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
