---
id      : amazon-imd-list-api-versions
layout  : default
title   : Amazon IMD
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-imd.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListApiVersions
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>



  <p>This operation doesn't take any arguments.</p>


  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
