---
id      : amazon-storagegateway-create-storedi-s-c-s-i-volume
layout  : default
title   : Amazon StorageGateway
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-storagegateway.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateStorediSCSIVolume
    <small>(<a href="http://docs.amazonwebservices.com/storagegateway/latest/userguide/API_CreateStorediSCSIVolume.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (required)</dt>
    <dd> (special)</dd>
  
    <dt>DiskId (required)</dt>
    <dd> (json)</dd>
  
    <dt>GatewayARN (required)</dt>
    <dd> (json)</dd>
  
    <dt>NetworkInterfaceId (required)</dt>
    <dd> (json)</dd>
  
    <dt>PreserveExistingData (required)</dt>
    <dd> (json)</dd>
  
    <dt>SnapshotId (optional)</dt>
    <dd> (json)</dd>
  
    <dt>TargetName (required)</dt>
    <dd> (json)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
