---
id      : amazon-storagegateway-describe-chap-credentials
layout  : default
title   : Amazon StorageGateway
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-storagegateway.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeChapCredentials
    <small>(<a href="http://docs.amazonwebservices.com/storagegateway/latest/userguide/API_DescribeChapCredentials.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (required)</dt>
    <dd> (special)</dd>
  
    <dt>TargetARN (required)</dt>
    <dd> (json)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
