---
id      : amazon-storagegateway-list-local-disks
layout  : default
title   : Amazon StorageGateway
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-storagegateway.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListLocalDisks
    <small>(<a href="http://docs.amazonwebservices.com/storagegateway/latest/userguide/API_ListLocalDisks.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (*)</dt>
    <dd>special</dd>
  
    <dt>GatewayARN (*)</dt>
    <dd>json</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
