---
id      : amazon-storagegateway-update-bandwidth-rate-limit
layout  : default
title   : Amazon StorageGateway
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-storagegateway.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UpdateBandwidthRateLimit
    <small>(<a href="http://docs.amazonwebservices.com/storagegateway/latest/userguide/API_UpdateBandwidthRateLimit.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Target (*)</dt>
    <dd>special</dd>
  
    <dt>AverageDownloadRateLimitInBitsPerSec (*)</dt>
    <dd>json</dd>
  
    <dt>AverageUploadRateLimitInBitsPerSec (*)</dt>
    <dd>json</dd>
  
    <dt>GatewayARN (*)</dt>
    <dd>json</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
