---
id      : amazon-ec2-authorize-security-group-ingress
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    AuthorizeSecurityGroupIngress
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-AuthorizeSecurityGroupIngress.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>UserId (*)</dt>
    <dd>param</dd>
  
    <dt>GroupId (*)</dt>
    <dd>param</dd>
  
    <dt>GroupName (*)</dt>
    <dd>param</dd>
  
    <dt>IpPermissions (*)</dt>
    <dd>param-data</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
