---
id      : amazon-ec2-create-instance-export-task
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateInstanceExportTask
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-CreateInstanceExportTask.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>Description (*)</dt>
    <dd>param</dd>
  
    <dt>InstanceId (*)</dt>
    <dd>param</dd>
  
    <dt>TargetEnvironment (*)</dt>
    <dd>param</dd>
  
    <dt>ExportToS3 (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
