---
id      : amazon-ec2-create-route
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateRoute
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-CreateRoute.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>RouteTableId (required)</dt>
    <dd> (param)</dd>
  
    <dt>DestinationCidrBlock (required)</dt>
    <dd> (param)</dd>
  
    <dt>GatewayId (optional)</dt>
    <dd> (param)</dd>
  
    <dt>InstanceId (optional)</dt>
    <dd> (param)</dd>
  
    <dt>NetworkInterfaceId (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
