---
id      : amazon-ec2-create-reserved-instances-listing
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateReservedInstancesListing
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-CreateReservedInstancesListing.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>ReservedInstancesId (required)</dt>
    <dd> (param)</dd>
  
    <dt>InstanceCount (required)</dt>
    <dd> (param)</dd>
  
    <dt>PriceSchedules (required)</dt>
    <dd> (param-data)</dd>
  
    <dt>ClientToken (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
