---
id      : amazon-ec2-create-tags
layout  : default
title   : Amazon EC2
tagline : ???
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateTags
    <small>(<a href="http://goo.gl/Vmkqc">Open docs on AWS</a>)</small>
  </h1>

{% highlight javascript %}
var args = {
    ResourceId : [ 'ami-1a2b3c4d', 'i-7f4d3a2b' ],
    Tag        : [
        { Key : 'WebServer', Value : ''           },
        { Key : 'stack',     Value : 'Production' },
    ]
};
ec2.CreateTags(args, function(err, data) {
    fmt.title("Amazon:EC2:CreateTags");
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
{% endhighlight %}

  <h2>Args</h2>

  <p><strong>ResourceId</strong>: an array of resources.</p>
  <p><strong>Tag</strong>: an array of objects which contain Key and Value.</p>

  <h2>Result</h2>

{% highlight javascript %}
...
{% endhighlight %}

{% endcapture %}

{% include main.html %}
