---
id      : amazon-ec2-delete-route
layout  : default
title   : Amazon EC2
tagline : ...
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteRoute
    <small>(<a href="...">Open docs on AWS</a>)</small>
  </h1>

  <h2>Args</h2>

  
  <p>This operation doesn't take any arguments.</p>
  

  <h2>Examples</h2>

{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
