---
id      : amazon-ec2-delete-subnet
layout  : default
title   : Amazon:EC2:DeleteSubnet
tagline : ???
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteSubnet
    <small>(<a href="">Open docs on AWS</a>)</small>
  </h1>

{% highlight javascript %}
ec2.DeleteSubnet({}, function(err, data) {
    fmt.title("Amazon:EC2:DeleteSubnet");
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
{% endhighlight %}

  <h2>Args</h2>

  <p>...</p>

  <h2>Result</h2>

{% highlight javascript %}
...
{% endhighlight %}

{% endcapture %}

{% include main.html %}
