---
id      : amazon-ec2-describe-reserved-instances-offerings
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeReservedInstancesOfferings
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeReservedInstancesOfferings.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>ReservedInstancesOfferingId (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>InstanceType (optional)</dt>
    <dd> (param)</dd>
  
    <dt>AvailabilityZone (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ProductDescription (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Filter (optional)</dt>
    <dd> (param-data)</dd>
  
    <dt>InstanceTenancy (optional)</dt>
    <dd> (param)</dd>
  
    <dt>OfferingType (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
