---
id      : amazon-ec2-import-instance
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ImportInstance
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-ImportInstance.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>Description (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Architecture (required)</dt>
    <dd> (param)</dd>
  
    <dt>SecurityGroup (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>UserData (optional)</dt>
    <dd> (param)</dd>
  
    <dt>InstanceType (required)</dt>
    <dd> (param)</dd>
  
    <dt>Placement (optional)</dt>
    <dd> (param-data)</dd>
  
    <dt>Monitoring (optional)</dt>
    <dd> (param-data)</dd>
  
    <dt>SubnetId (optional)</dt>
    <dd> (param)</dd>
  
    <dt>InstanceInitiatedShutdownBehavior (optional)</dt>
    <dd> (param)</dd>
  
    <dt>PrivateIpAddress (optional)</dt>
    <dd> (param)</dd>
  
    <dt>DiskImage (required)</dt>
    <dd> (param-data)</dd>
  
    <dt>Platform (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
