---
id      : amazon-ec2-import-key-pair
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ImportKeyPair
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-ImportKeyPair.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>KeyName (*)</dt>
    <dd>param</dd>
  
    <dt>PublicKeyMaterial (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
