---
id      : amazon-ec2-import-instance
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ImportInstance
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-ImportInstance.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>Description (*)</dt>
    <dd>param</dd>
  
    <dt>Architecture (*)</dt>
    <dd>param</dd>
  
    <dt>SecurityGroup (*)</dt>
    <dd>param-array</dd>
  
    <dt>UserData (*)</dt>
    <dd>param</dd>
  
    <dt>InstanceType (*)</dt>
    <dd>param</dd>
  
    <dt>Placement (*)</dt>
    <dd>param-data</dd>
  
    <dt>Monitoring (*)</dt>
    <dd>param-data</dd>
  
    <dt>SubnetId (*)</dt>
    <dd>param</dd>
  
    <dt>InstanceInitiatedShutdownBehavior (*)</dt>
    <dd>param</dd>
  
    <dt>PrivateIpAddress (*)</dt>
    <dd>param</dd>
  
    <dt>DiskImage (*)</dt>
    <dd>param-data</dd>
  
    <dt>Platform (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
