---
id      : amazon-ec2-modify-network-interface-attribute
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ModifyNetworkInterfaceAttribute
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-ModifyNetworkInterfaceAttribute.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>NetworkInterfaceId (required)</dt>
    <dd> (param)</dd>
  
    <dt>Description (optional)</dt>
    <dd> (param-data)</dd>
  
    <dt>SecurityGroupId (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>SourceDestCheck (optional)</dt>
    <dd> (param-data)</dd>
  
    <dt>Attachment (optional)</dt>
    <dd> (param-data)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
