---
id      : amazon-ec2-modify-instance-attribute
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ModifyInstanceAttribute
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-ModifyInstanceAttribute.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>ImageId (*)</dt>
    <dd>param</dd>
  
    <dt>InstanceType (*)</dt>
    <dd>param-data</dd>
  
    <dt>Kernel (*)</dt>
    <dd>param-data</dd>
  
    <dt>Ramdisk (*)</dt>
    <dd>param-data</dd>
  
    <dt>UserData (*)</dt>
    <dd>param-data</dd>
  
    <dt>DisableApiTermination (*)</dt>
    <dd>param-data</dd>
  
    <dt>InstanceInitiatedShutdownBehavior (*)</dt>
    <dd>param-data</dd>
  
    <dt>BlockMappingDevice (*)</dt>
    <dd>param-data</dd>
  
    <dt>SourceDestCheck (*)</dt>
    <dd>param-data</dd>
  
    <dt>GroupId (*)</dt>
    <dd>param-array</dd>
  
    <dt>EbsOptimized (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
