---
id      : amazon-ec2-report-instance-status
layout  : default
title   : Amazon EC2
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-ec2.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ReportInstanceStatus
    <small>(<a href="http://docs.amazonwebservices.com/AWSEC2/latest/APIReference/ApiReference-query-ReportInstanceStatus.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>InstanceID (*)</dt>
    <dd>param-array</dd>
  
    <dt>Status (*)</dt>
    <dd>param</dd>
  
    <dt>StartTime (*)</dt>
    <dd>param</dd>
  
    <dt>EndTime (*)</dt>
    <dd>param</dd>
  
    <dt>ReasonCodes (*)</dt>
    <dd>param-array</dd>
  
    <dt>Description (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
