---
id      : amazon-elasticache-create-cache-cluster
layout  : default
title   : Amazon ElastiCache
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticache.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateCacheCluster
    <small>(<a href="http://docs.htmlamazonwebservices.com/AmazonElastiCache/latest/APIReference/API_CreateCacheCluster.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>AutoMinorVersionUpgrade (*)</dt>
    <dd>param</dd>
  
    <dt>CacheClusterId (*)</dt>
    <dd>param</dd>
  
    <dt>CacheNodeType (*)</dt>
    <dd>param</dd>
  
    <dt>CacheParameterGroupName (*)</dt>
    <dd>param</dd>
  
    <dt>CacheSecurityGroupNames (*)</dt>
    <dd>param-array</dd>
  
    <dt>Engine (*)</dt>
    <dd>param</dd>
  
    <dt>EngineVersion (*)</dt>
    <dd>param</dd>
  
    <dt>NotificationTopicArn (*)</dt>
    <dd>param</dd>
  
    <dt>NumCacheNodes (*)</dt>
    <dd>param</dd>
  
    <dt>Port (*)</dt>
    <dd>param</dd>
  
    <dt>PreferredAvailabilityZone (*)</dt>
    <dd>param</dd>
  
    <dt>PreferredMaintenanceWindow (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
