---
id      : amazon-elasticache-describe-reserved-cache-nodes
layout  : default
title   : Amazon ElastiCache
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticache.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeReservedCacheNodes
    <small>(<a href="http://docs.amazonwebservices.com/AmazonElastiCache/latest/APIReference/API_DescribeReservedCacheNodes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>CacheNodeType (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Duration (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Marker (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxRecords (optional)</dt>
    <dd> (param)</dd>
  
    <dt>OfferingType (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ProductDescription (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ReservedCacheNodeId (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ReservedCacheNodesOfferingId (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
