---
id      : amazon-elasticache-purchase-reserved-cache-nodes-offering
layout  : default
title   : Amazon ElastiCache
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticache.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PurchaseReservedCacheNodesOffering
    <small>(<a href="http://docs.amazonwebservices.com/AmazonElastiCache/latest/APIReference/API_PurchaseReservedCacheNodesOffering.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>CacheNodeCount (*)</dt>
    <dd>param</dd>
  
    <dt>ReservedCacheNodeId (*)</dt>
    <dd>param</dd>
  
    <dt>ReservedCacheNodesOfferingId (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
