---
id      : amazon-elasticache-reboot-cache-cluster
layout  : default
title   : Amazon ElastiCache
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticache.html %}
{% endcapture %}

{% capture main %}

  <h1>
    RebootCacheCluster
    <small>(<a href="http://docs.amazonwebservices.com/AmazonElastiCache/latest/APIReference/API_RebootCacheCluster.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>CacheClusterId (required)</dt>
    <dd> (param)</dd>
  
    <dt>CacheNodeIdsToReboot (required)</dt>
    <dd> (param-array)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
