---
id      : amazon-autoscaling-create-or-update-tags
layout  : default
title   : Amazon AutoScaling
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-autoscaling.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateOrUpdateTags
    <small>(<a href="http://docs.amazonwebservices.com/AutoScaling/latest/APIReference/API_CreateOrUpdateTags.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>Tags (*)</dt>
    <dd>param-data</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
