---
id      : amazon-autoscaling-delete-policy
layout  : default
title   : Amazon AutoScaling
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-autoscaling.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeletePolicy
    <small>(<a href="http://docs.amazonwebservices.com/AutoScaling/latest/APIReference/API_DeletePolicy.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>AutoScalingGroupName</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>PolicyName</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
