---
id      : amazon-autoscaling-delete-launch-configuration
layout  : default
title   : Amazon AutoScaling
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-autoscaling.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteLaunchConfiguration
    <small>(<a href="http://docs.amazonwebservices.com/AutoScaling/latest/APIReference/API_DeleteLaunchConfiguration.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>LaunchConfigurationName (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
