---
id      : amazon-autoscaling-enable-metrics-collection
layout  : default
title   : Amazon AutoScaling
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-autoscaling.html %}
{% endcapture %}

{% capture main %}

  <h1>
    EnableMetricsCollection
    <small>(<a href="http://docs.amazonwebservices.com/AutoScaling/latest/APIReference/API_EnableMetricsCollection.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>AutoScalingGroupName (*)</dt>
    <dd>param</dd>
  
    <dt>Granularity (*)</dt>
    <dd>param</dd>
  
    <dt>Metrics (*)</dt>
    <dd>param-array</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
