---
id      : amazon-autoscaling-put-scaling-policy
layout  : default
title   : Amazon AutoScaling
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-autoscaling.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutScalingPolicy
    <small>(<a href="http://docs.amazonwebservices.com/AutoScaling/latest/APIReference/API_PutScalingPolicy.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>AdjustmentType (required)</dt>
    <dd> (param)</dd>
  
    <dt>AutoScalingGroupName (required)</dt>
    <dd> (param)</dd>
  
    <dt>Cooldown (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MinAdjustmentStep (optional)</dt>
    <dd> (param)</dd>
  
    <dt>PolicyName (required)</dt>
    <dd> (param)</dd>
  
    <dt>ScalingAdjustment (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
