---
id      : amazon-autoscaling-update-auto-scaling-group
layout  : default
title   : Amazon AutoScaling
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-autoscaling.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UpdateAutoScalingGroup
    <small>(<a href="http://docs.amazonwebservices.com/AutoScaling/latest/APIReference/API_UpdateAutoScalingGroup.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>AutoScalingGroupName (*)</dt>
    <dd>param</dd>
  
    <dt>AvailabilityZones (*)</dt>
    <dd>param-array</dd>
  
    <dt>DefaultCooldown (*)</dt>
    <dd>param</dd>
  
    <dt>DesiredCapacity (*)</dt>
    <dd>param</dd>
  
    <dt>HealthCheckGracePeriod (*)</dt>
    <dd>param</dd>
  
    <dt>HealthCheckType (*)</dt>
    <dd>param</dd>
  
    <dt>LaunchConfigurationName (*)</dt>
    <dd>param</dd>
  
    <dt>MaxSize (*)</dt>
    <dd>param</dd>
  
    <dt>MinSize (*)</dt>
    <dd>param</dd>
  
    <dt>PlacementGroup (*)</dt>
    <dd>param</dd>
  
    <dt>VPCZoneIdentifier (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
