---
id      : amazon-route53-change-resource-record-sets
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ChangeResourceRecordSets
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>HostedZoneId</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Comment</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Change a or all recordssets of a hosted domain</h3>
<p>This example shows how to delete a subdomain (CNAME) and redirect it to another ip-address.</p>

<h4>Example</h4>
<pre>
var params = {
    HostedZoneId   : 'owndomain.com',
    Comment        : 'Some text to remember why you made this change.',
    Changes        : [
        {
            Action          : 'DELETE',
            Name            : 'test.owndomain.com',
            Type            : 'CNAME',
            Ttl             : '60',
            ResourceRecords : ['123.456.789.012'],
        },
        {
            Action          : 'CREATE',
            Name            : 'test.owndomain.com',
            Type            : 'CNAME',
            Ttl             : '120',
            ResourceRecords : ['789.012.345.678'],
        },
     ]
};

r53.ChangeResourceRecordSets(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
