---
id      : amazon-route53-change-resource-record-sets
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ChangeResourceRecordSets
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>HostedZoneId (required)</dt>
    <dd> (special)</dd>
  
    <dt>Comment (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
