---
id      : amazon-route53-create-hosted-zone
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateHostedZone
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_CreateHostedZone.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Name (*)</dt>
    <dd>special</dd>
  
    <dt>CallerReference (*)</dt>
    <dd>special</dd>
  
    <dt>Comment (*)</dt>
    <dd>special</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
