---
id      : amazon-route53-create-hosted-zone
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateHostedZone
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_CreateHostedZone.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Name (required)</dt>
    <dd> (special)</dd>
  
    <dt>CallerReference (required)</dt>
    <dd> (special)</dd>
  
    <dt>Comment (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Create a new hosted zone in Route53</h3>
<p>This example shows how to make a new hosted zone (/domain).</p>

<h4>Example</h4>
<pre>
var params = {
    Name            : 'newdomain.com',
    CallerReference : 'some_unique_string_to_ensure_that_this_action_will_not_be_called_twice:numbers_can_be_used_too',
    Comment         : 'Created a new hosted zone.'
}
r53.CreateHostedZone(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
