---
id      : amazon-route53-delete-hosted-zone
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteHostedZone
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_DeleteHostedZone.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>HostedZoneId</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Delete an existing hosted zone in Route53</h3>
<p>This example shows how to delete a specific hosted zone (/domain).</p>

<h4>Example</h4>
<pre>
var params = {
    Name : 'newdomain.com'
}
r53.DeleteHostedZone(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
