---
id      : amazon-route53-get-hosted-zone
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetHostedZone
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_GetHostedZone.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>HostedZoneId (required)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Get information about a hosted zone</h3>
<p>This example shows how to retrieve information about a hosted zone (like for example the nameservers).</p>

<h4>Example</h4>
<pre>
var params = {
    HostedZoneId:'newdomain.com'
}
r53.GetHostedZone(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
