---
id      : amazon-route53-get-change
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetChange
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_GetChange.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>ChangeId (required)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Get information about a hosted zone</h3>
<p>This example shows how to retrieve information about a hosted zone (like for example the nameservers).</p>

<h4>Example</h4>
<pre>
var params = {
    ChangeId : 'the-id-you-received-from-route53.ChangeResourceRecordSets()',
}

r53.GetChange(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
