---
id      : amazon-route53
layout  : default
title   : Amazon Route53
tagline : Elastic Compute Cloud
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h2>Loading AwsSum's Amazon Route53</h2>

{% highlight javascript %}
var awssum = require('awssum');
var amazon = awssum.load('amazon/amazon');
var Route53 = awssum.load('amazon/route53').Route53;

var r53 = new Route53({
  'accessKeyId'     : process.env.accessKeyId,
  'secretAccessKey' : process.env.secretAccessKey,
  'region'          : amazon.US_EAST_1
});
{% endhighlight %}

{% endcapture %}

{% include main.html %}
