---
id      : amazon-route53-list-resource-record-sets
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListResourceRecordSets
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_ListResourceRecordSets.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>HostedZoneId</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Name</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Type</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Identifier</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>MaxItems</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Show all recordsets of a hosted zone</h3>
<p>This example shows how to retrieve all recordsets of a specific hosted zone.</p>

<h4>Example</h4>
<pre>
var params = {
    HostedZoneId : 'owndomain.com',
}
r53.ListResourceRecordSets(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
