---
id      : amazon-route53-list-resource-record-sets
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListResourceRecordSets
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_ListResourceRecordSets.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>HostedZoneId (required)</dt>
    <dd> (special)</dd>
  
    <dt>Name (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Type (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Identifier (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxItems (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
