---
id      : amazon-route53-list-resource-record-sets
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListResourceRecordSets
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_ListResourceRecordSets.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>HostedZoneId (required)</dt>
    <dd> (special)</dd>
  
    <dt>Name (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Type (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Identifier (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxItems (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Show all recordsets of a hosted zone</h3>
<p>This example shows how to retrieve all recordsets of a specific hosted zone.</p>

<h4>Example</h4>
<pre>
var params = {
    HostedZoneId : 'owndomain.com',
}
r53.ListResourceRecordSets(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
