---
id      : amazon-route53-list-hosted-zones
layout  : default
title   : Amazon Route53
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-route53.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListHostedZones
    <small>(<a href="http://docs.amazonwebservices.com/Route53/latest/APIReference/API_ListHostedZones.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Marker (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxItems (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
