---
id      : amazon-sqs-change-message-visibility-batch
layout  : default
title   : Amazon SQS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sqs.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ChangeMessageVisibilityBatch
    <small>(<a href="http://docs.amazonwebservices.com/AWSSimpleQueueService/latest/APIReference/Query_QueryChangeMessageVisibilityBatch.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>QueueName (required)</dt>
    <dd> (special)</dd>
  
    <dt>Id (required)</dt>
    <dd> (param-array-set)</dd>
  
    <dt>ReceiptHandle (required)</dt>
    <dd> (param-array-set)</dd>
  
    <dt>VisibilityTimeout (required)</dt>
    <dd> (param-array-set)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
