---
id      : amazon-sqs-get-queue-url
layout  : default
title   : Amazon SQS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sqs.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetQueueUrl
    <small>(<a href="http://docs.amazonwebservices.com/AWSSimpleQueueService/latest/APIReference/Query_QueryGetQueueAttributes.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>QueueName (required)</dt>
    <dd> (param)</dd>
  
    <dt>QueueOwnerAwsAccountId (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>List the URL of a certain queue</h3>
<p>This example shows how to list the URL of a certain queue. This can be useful in combination with the QueueOwnerAWSAccountId-property you can add to the params to retrieve other queues from other accounts to send messages to or process them.</p>

<h4>Example</h4>
<pre>
var params = {
    QueueName : 'yourQueueName'
}
sqs.GetQueueUrl(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
