---
id      : amazon-sqs
layout  : default
title   : Amazon SQS
tagline : Elastic Compute Cloud
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sqs.html %}
{% endcapture %}

{% capture main %}

  <h2>Loading AwsSum's Amazon SQS</h2>

{% highlight javascript %}
var awssum = require('awssum');
var amazon = awssum.load('amazon/amazon');
var Sqs = awssum.load('amazon/sqs').Sqs;

var sqs = new Sqs({
  'accessKeyId'     : process.env.accessKeyId,
  'secretAccessKey' : process.env.secretAccessKey,
  'region'          : amazon.US_EAST_1
});
{% endhighlight %}

{% endcapture %}

{% include main.html %}
