---
id      : amazon-sqs-receive-message
layout  : default
title   : Amazon SQS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sqs.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ReceiveMessage
    <small>(<a href="http://docs.amazonwebservices.com/AWSSimpleQueueService/latest/APIReference/Query_QueryReceiveMessage.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>AttributeName (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>MaxNumberOfMessages (optional)</dt>
    <dd> (param)</dd>
  
    <dt>VisibilityTimeout (optional)</dt>
    <dd> (param)</dd>
  
    <dt>QueueName (required)</dt>
    <dd> (special)</dd>
  
    <dt>WaitTimeSeconds (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Receive a message from a SQS queue</h3>
<p>This example shows how to receive a message from a SQS queue to process and later execute SQS.DeleteMessage to clean up the SQS queue.</p>

<h4>Example</h4>
<pre>
var params = {
    QueueName : 'yourQueueName'
};
sqs.ReceiveMessage(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
