---
id      : amazon-sqs-send-message
layout  : default
title   : Amazon SQS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-sqs.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SendMessage
    <small>(<a href="http://docs.amazonwebservices.com/AWSSimpleQueueService/latest/APIReference/Query_QuerySendMessage.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>MessageBody (required)</dt>
    <dd> (param)</dd>
  
    <dt>DelaySeconds (optional)</dt>
    <dd> (param)</dd>
  
    <dt>QueueName (required)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Send a message onto a SQS queue</h3>
<p>This example shows how to send a message onto a SQS queue to process later in order.</p>

<h4>Example</h4>
<pre>
var custom = {
    aCertainType       : 'csv',
    orAnotherProperty  : 'like a string',
    yetAnotherProperty : true,
};
var params = {
    QueueName   : 'yourQueueName',
    MessageBody : JSON.stringify(custom),
};
sqs.SendMessage(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
