---
id      : amazon-cloudformation-list-stacks
layout  : default
title   : Amazon CloudFormation
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudformation.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListStacks
    <small>(<a href="http://docs.amazonwebservices.com/AWSCloudFormation/latest/APIReference/API_ListStacks.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>NextToken (*)</dt>
    <dd>param</dd>
  
    <dt>StackStatusFilter (*)</dt>
    <dd>param-array</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
