---
id      : amazon-cloudformation-list-stacks
layout  : default
title   : Amazon CloudFormation
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudformation.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListStacks
    <small>(<a href="http://docs.amazonwebservices.com/AWSCloudFormation/latest/APIReference/API_ListStacks.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th width="20%">Param Name</th>
      <th width="10%">Required</th>
      <th width="10%">Type</th>
      <th width="60%">Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>NextToken</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>StackStatusFilter</td>
      <td>optional</td>
      <td>param-array</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>List all stacks</h3>
<p>This example shows how you can see </p>

<h4>Example</h4>
<pre>
cf.ListStacks(function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>



<h4>Result</h4>
<pre>
  Headers:
   { 'x-amzn-requestid': '6e72a656-1bc9-11e2-ae64-0db27520d1bd',
     'content-type': 'text/xml',
     'content-length': '275',
     date: 'Sun, 21 Oct 2012 21:51:12 GMT' },
  Body:
   { ListStacksResponse:
      { '@': { xmlns: 'http://cloudformation.amazonaws.com/doc/2010-05-15/' },
        ListStacksResult: { StackSummaries: {} },
        ResponseMetadata: { RequestId: '6e72a656-1bc9-11e2-ae64-0db27520d1bd' } } } }

</pre>



{% endcapture %}

{% include main.html %}
