---
id      : amazon-cloudwatch-describe-alarm-history
layout  : default
title   : Amazon CloudWatch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudwatch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeAlarmHistory
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarmHistory.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>AlarmName</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>EndDate</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>HistoryItemType</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>MaxRecords</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>NextToken</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>StartDate</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>List a specific alarm history</h3>
<p>This example shows how to list a specific alarm history.</p>

<h4>Example</h4>
<pre>
var params = {
    AlarmName : 'checkEC2'
};
cw.DescribeAlarmHistory(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
