---
id      : amazon-cloudwatch-describe-alarm-history
layout  : default
title   : Amazon CloudWatch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudwatch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeAlarmHistory
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarmHistory.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>AlarmName (optional)</dt>
    <dd> (param)</dd>
  
    <dt>EndDate (optional)</dt>
    <dd> (param)</dd>
  
    <dt>HistoryItemType (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxRecords (optional)</dt>
    <dd> (param)</dd>
  
    <dt>NextToken (optional)</dt>
    <dd> (param)</dd>
  
    <dt>StartDate (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>List a specific alarm history</h3>
<p>This example shows how to list a specific alarm history.</p>

<h4>Example</h4>
<pre>
var params = {
    AlarmName : 'checkEC2'
}
cw.DescribeAlarmHistory(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
