---
id      : amazon-cloudwatch-describe-alarms
layout  : default
title   : Amazon CloudWatch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudwatch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeAlarms
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>ActionPrefix (optional)</dt>
    <dd> (param)</dd>
  
    <dt>AlarmNamePrefix (optional)</dt>
    <dd> (param)</dd>
  
    <dt>AlarmNames (optional)</dt>
    <dd> (param-data)</dd>
  
    <dt>MaxRecords (optional)</dt>
    <dd> (param)</dd>
  
    <dt>NextToken (optional)</dt>
    <dd> (param)</dd>
  
    <dt>StateValue (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>List all alarms</h3>
<p>This example shows how to list all alarms.</p>

<h4>Example</h4>
<pre>
cw.DescribeAlarms({}, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
cw.DescribeAlarms(function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>List all alarms with a specific state</h3>
<p>This example shows how to list all alarms with a specific state. Values of StateValue can be "OK", "ALARM" or "INSUFFICIENT_DATA".</p>

<h4>Example</h4>
<pre>
var params = {
    StateValue : 'INSUFFICIENT_DATA'
}
cw.DescribeAlarms(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>List all alarms with a specific state</h3>
<p>This example shows how to list all alarms with a specific state. Values of StateValue can be "OK", "ALARM" or "INSUFFICIENT_DATA".</p>

<h4>Example</h4>
<pre>
var params = {
    StateValue : 'INSUFFICIENT_DATA'
}
cw.DescribeAlarms(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
