---
id      : amazon-cloudwatch-describe-alarms-for-metric
layout  : default
title   : Amazon CloudWatch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudwatch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeAlarmsForMetric
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarmsForMetric.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>Dimensions (*)</dt>
    <dd>param-data</dd>
  
    <dt>MetricName (*)</dt>
    <dd>param</dd>
  
    <dt>Namespace (*)</dt>
    <dd>param</dd>
  
    <dt>Period (*)</dt>
    <dd>param</dd>
  
    <dt>Statistic (*)</dt>
    <dd>param</dd>
  
    <dt>Unit (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
