---
id      : amazon-cloudwatch-describe-alarms
layout  : default
title   : Amazon CloudWatch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudwatch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeAlarms
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>ActionPrefix (*)</dt>
    <dd>param</dd>
  
    <dt>AlarmNamePrefix (*)</dt>
    <dd>param</dd>
  
    <dt>AlarmNames (*)</dt>
    <dd>param-data</dd>
  
    <dt>MaxRecords (*)</dt>
    <dd>param</dd>
  
    <dt>NextToken (*)</dt>
    <dd>param</dd>
  
    <dt>StateValeu (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
