---
id      : amazon-cloudwatch-get-metric-statistics
layout  : default
title   : Amazon CloudWatch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudwatch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetMetricStatistics
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th width="20%">Param Name</th>
      <th width="10%">Required</th>
      <th width="10%">Type</th>
      <th width="60%">Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Dimensions</td>
      <td>optional</td>
      <td>param-data</td>
      <td></td>
    </tr>
  
    <tr>
      <td>EndTime</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>MetricName</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Namespace</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Period</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>StartTime</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Statistics</td>
      <td>required</td>
      <td>param-data</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Unit</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>List a specific statistic of a metric</h3>
<p>This example shows how to list a specific statistic of a metric. Ensure you use the correct Date definition (ISO8601) and watch out with (non)capitalized definitions of Unit and Statistics, they need to be "Capitalized".</p>

<h4>Example</h4>
<pre>
var dt = new Date();
dt.setDate(dt.getDate()-1);
var params = {
    MetricName  : 'yourMetricName',
    Namespace   : 'test',
    Period      : 60,
    Statistics  : ['Sum'],
    Unit        : 'Seconds',
    StartTime   : dt.toISOString('8601'),
    EndTime     : new Date().toISOString('8601')
};
cw.GetMetricStatistics(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>List CPU usage in a hour</h3>
<p>This example shows how to list CPU usage in a hour. Important to note is when you use default monitoring without Dimensions-parameter you will not get any information. Use, like below, an exact InstanceId to list all metrics you like to show. If detailed monitoring is on, you may ignore the Dimensions-property if you want to list all responses. Cloudwatch can not only provide standard metrics but also your own custom metrics. Ensure you use the correct Date definition (ISO8601) and watch out with (non)capitalized definitions of Unit and Statistics, they need to be "Capitalized".</p>

<h4>Example</h4>
<pre>
var hourInMilliseconds = 1000 * 60 * 60;
var endTime = new Date();
var startTime = new Date(endTime.getTime() - hourInMilliseconds);
var params = {
    MetricName  : 'CPUUtilization',
    Namespace   : 'AWS/EC2',
    Period      : 60,
    Statistics  : ['Average'],
    Unit        : ['Percent'],
    Dimensions  : [{ Name: 'InstanceId', Value: 'i-1234fake' }],
    StartTime   : startTime.toISOString('8601'),
    EndTime     : endTime.toISOString('8601')
};
cw.GetMetricStatistics(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>



<h4>Result</h4>
<pre>
{ StatusCode: 200,
  Headers: 
   { 'x-amzn-requestid': '67e1c18f-3ac6-11e2-8d6a-5f7cd605490f',
     'content-type': 'text/xml',
     'content-length': '1681',
     date: 'Fri, 30 Nov 2012 08:17:39 GMT' },
  Body: 
   { GetMetricStatisticsResponse: 
      { '@': { xmlns: 'http://monitoring.amazonaws.com/doc/2010-08-01/' },
        GetMetricStatisticsResult: 
         { Datapoints: 
            { member: 
               [ { Timestamp: '2012-11-30T07:43:00Z',
                   Unit: 'Percent',
                   Average: '0.23399999999999999' },
                 { Timestamp: '2012-11-30T08:08:00Z',
                   Unit: 'Percent',
                   Average: '0.242' }
               ] 
            },
           Label: 'CPUUtilization' 
         },
        ResponseMetadata: { RequestId: '67e1c18f-3ac6-11e2-8d6a-5f7cd605490f' } } } }

</pre>



{% endcapture %}

{% include main.html %}
