---
id      : amazon-cloudwatch-get-metric-statistics
layout  : default
title   : Amazon CloudWatch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudwatch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetMetricStatistics
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>Dimensions (optional)</dt>
    <dd> (param-data)</dd>
  
    <dt>EndTime (required)</dt>
    <dd> (param)</dd>
  
    <dt>MetricName (required)</dt>
    <dd> (param)</dd>
  
    <dt>Namespace (required)</dt>
    <dd> (param)</dd>
  
    <dt>Period (required)</dt>
    <dd> (param)</dd>
  
    <dt>StartTime (required)</dt>
    <dd> (param)</dd>
  
    <dt>Statistics (required)</dt>
    <dd> (param-data)</dd>
  
    <dt>Unit (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>List a specific statistic of a metric</h3>
<p>This example shows how to list a specific statistic of a metric. Ensure you use the correct Date definition (ISO8601) and watch out with (non)capitalized definitions of Unit and Statistics, they need to be "Capitalized".</p>

<h4>Example</h4>
<pre>
var dt = new Date();
dt.setDate(dt.getDate()-1);
var params = {
    MetricName  : 'yourMetricName',
    Namespace   : 'test',
    Period      : 60,
    Statistics  : ['Sum'],
    Unit        : 'Seconds',
    StartTime   : dt.toISOString('8601'),
    EndTime     : new Date().toISOString('8601')
}
cw.GetMetricStatistics(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
