---
id      : amazon-cloudwatch-set-alarm-state
layout  : default
title   : Amazon CloudWatch
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudwatch.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SetAlarmState
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudWatch/latest/APIReference/API_SetAlarmState.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>AlarmName (required)</dt>
    <dd> (param)</dd>
  
    <dt>StateReason (required)</dt>
    <dd> (param)</dd>
  
    <dt>StateReasonData (optional)</dt>
    <dd> (param)</dd>
  
    <dt>StateValue (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
