---
id      : amazon-s3-abort-multipart-upload
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    AbortMultipartUpload
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>BucketName (*)</dt>
    <dd>special</dd>
  
    <dt>ObjectName (*)</dt>
    <dd>special</dd>
  
    <dt>UploadId (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
