---
id      : amazon-s3-copy-object
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CopyObject
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>SourceBucket (required)</dt>
    <dd> (special)</dd>
  
    <dt>SourceObject (required)</dt>
    <dd> (special)</dd>
  
    <dt>MetadataDirective (optional)</dt>
    <dd> (header)</dd>
  
    <dt>CopySourceIfMatch (optional)</dt>
    <dd> (header)</dd>
  
    <dt>CopySourceIfNoneMatch (optional)</dt>
    <dd> (header)</dd>
  
    <dt>CopySourceIfUnmodifiedSince (optional)</dt>
    <dd> (header)</dd>
  
    <dt>CopySourceIfModifiedSince (optional)</dt>
    <dd> (header)</dd>
  
    <dt>ServerSideEncryption (optional)</dt>
    <dd> (header)</dd>
  
    <dt>StorageClass (optional)</dt>
    <dd> (header)</dd>
  
    <dt>Acl (optional)</dt>
    <dd> (header)</dd>
  
    <dt>GrantRead (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
    <dt>GrantWrite (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
    <dt>GrantReadAcp (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
    <dt>GrantWriteAcp (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
    <dt>GrantFullControl (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
