---
id      : amazon-s3-get-bucket-location
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetBucketLocation
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>BucketName (*)</dt>
    <dd>special</dd>
  
    <dt>location (*)</dt>
    <dd>resource</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
