---
id      : amazon-s3-get-object
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetObject
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>BucketName (*)</dt>
    <dd>special</dd>
  
    <dt>ObjectName (*)</dt>
    <dd>special</dd>
  
    <dt>Range (*)</dt>
    <dd>header</dd>
  
    <dt>ResponseContentType (*)</dt>
    <dd>param</dd>
  
    <dt>ResponseContentLanguage (*)</dt>
    <dd>param</dd>
  
    <dt>ResponseExpires (*)</dt>
    <dd>param</dd>
  
    <dt>ResponseCacheControl (*)</dt>
    <dd>param</dd>
  
    <dt>ResponseContentDisposition (*)</dt>
    <dd>param</dd>
  
    <dt>ResponseContentEncoding (*)</dt>
    <dd>param</dd>
  
    <dt>VersionId (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
