---
id      : amazon-s3-get-object
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetObject
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>BucketName (required)</dt>
    <dd> (special)</dd>
  
    <dt>ObjectName (required)</dt>
    <dd> (special)</dd>
  
    <dt>Range (optional)</dt>
    <dd> (header)</dd>
  
    <dt>ResponseContentType (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ResponseContentLanguage (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ResponseExpires (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ResponseCacheControl (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ResponseContentDisposition (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ResponseContentEncoding (optional)</dt>
    <dd> (param)</dd>
  
    <dt>VersionId (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
