---
id      : amazon-s3
layout  : default
title   : Amazon S3
tagline : Simple Storage Service
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h2>Loading AwsSum's Amazon S3</h2>

{% highlight javascript %}
var awssum = require('awssum');
var amazon = awssum.load('amazon/amazon');
var S3 = awssum.load('amazon/s3').S3;

var s3 = new S3({
    'accessKeyId'     : process.env.accessKeyId,
    'secretAccessKey' : process.env.secretAccessKey,
    'region'          : amazon.US_EAST_1
});
{% endhighlight %}

  <h2>Examples</h2>
  <h3 name="ListBuckets">
    List Buckets
    <small><a href="http://goo.gl/ZXuPe">(Open docs on AWS)</a></small>
  </h3>

{% highlight javascript %}
s3.ListBuckets(function(err, data) {
    console.log("\nlisting all the buckets (no options given) - expecting success");
    console.log(err, 'Error');
    console.log(data, 'Data');
});
{% endhighlight %}

  <h3>List Objects</h3>

{% highlight javascript %}
var options = {
    BucketName : 'object-17',
    MaxKeys : 4
};
s3.ListObjects(options,function(err, data) {
    console.log("\nlisting all the objects - expecting success");
    console.log(err, 'Error');
    console.log(data, 'Data');

    // check for error
    if ( err ) {
        console.log('Not doing another ListObjects since there was an error');
        return;
    }

    // now do a marker
    if ( data.Body.ListBucketResult.IsTruncated === 'true' ) {
        options.Marker = _.last(data.Body.ListBucketResult.Contents).Key;

        s3.ListObjects(options, function(err, data) {
            console.log("getting the next set - expecting success");
            console.log(err, 'Error');
            console.log(data, 'Data');
        });
    }
});
{% endhighlight %}

  <h3>List Objects (With prefix)</h3>

{% highlight javascript %}
var options = {
    BucketName : 'object-17',
    MaxKeys : 4,
    Prefix : 'c'
};
s3.ListObjects(options,function(err, data) {
    console.log("\nlisting all the buckets (with a prefix) - expecting success");
    console.log(err, 'Error');
    console.log(data, 'Data');
});
{% endhighlight %}

{% endcapture %}

{% include main.html %}
