---
id      : amazon-s3-put-object
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutObject
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>BucketName</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ObjectName</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CacheControl</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentDisposition</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentEncoding</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentLength</td>
      <td>required</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentMD5</td>
      <td>optional</td>
      <td>header-base64</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentType</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Expect</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Expires</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Acl</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>GrantRead</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>GrantWrite</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>GrantReadAcp</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>GrantWriteAcp</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>GrantFullControl</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>MetaData</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ServerSideEncryption</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>StorageClass</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>WebsiteRedirectLocation</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Body</td>
      <td>required</td>
      <td>body</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Uploading a String as the Object</h3>
<p>This example shows how to upload a string as the object.</p>

<h4>Example</h4>
<pre>
var body = &quot;Hello, World!\n&quot;;

var params = {
    BucketName    : 'pie-18',
    ObjectName    : 'test-object.txt',
    ContentLength : Buffer.byteLength(body),
    Body          : body,
};

s3.PutObject(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Uploading some MetaData with your Object</h3>
<p>By using the <code>MetaData</code> param, you can set metadata on your object.</p>

<h4>Example</h4>
<pre>
var body = &quot;Hello, World!\n&quot;;

var params = {
    BucketName    : 'pie-18',
    ObjectName    : 'test-object-with-metadata.txt',
    MetaData      : {
        'Username' : 'chilts',
        'UniqueId' : '629f3b9b-49bb-4d0b-b38b-21ad9b132e90'
    },
    ContentLength : Buffer.byteLength(body),
    Body          : body,
};

s3.PutObject(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Setting a Cache-Control header on your object</h3>
<p>Just use the <code>CacheControl</code> parameter.</p>

<h4>Example</h4>
<pre>
var body = &quot;Hello, World!\n&quot;;

var params = {
    BucketName    : 'pie-18',
    ObjectName    : 'test-cache.txt',
    ContentLength : Buffer.byteLength(body),
    Body          : body,
    CacheControl  : 'max-age=3600'
};

s3.PutObject(params, function(err, data) {
    fmt.msg(&quot;putting an object with cache-control to pie-18 - expecting success&quot;);
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Putting a Buffer to S3 as the Object</h3>
<p>This example is similar to putting a string, except </p>

<h4>Example</h4>
<pre>
var buf = fs.readFileSync(__filename);

var params = {
    BucketName    : 'pie-18',
    ObjectName    : 'buffer-file.txt',
    ContentLength : buf.length,
    Body          : buf,
};

s3.PutObject(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Streaming a File</h3>
<p>To stream anything to S3, just create a stream and pass it to the <code>Body</code>. Unfortunately S3 requires the <code>ContentLength</code> so you'll have to somehow get this in advance. Here, we're using <code>fs.stat()</code> to do this for us.</p>

<h4>Example</h4>
<pre>
// you must run fs.stat to get the file size for the content-length header (s3 requires this)
fs.stat(__filename, function(err, file_info) {
    if (err) {
        fmt.dump(err, 'Error reading file');
        return;
    }

    var bodyStream = fs.createReadStream( __filename );

    var params = {
        BucketName    : 'pie-18',
        ObjectName    : __filename,
        ContentLength : file_info.size,
        Body          : bodyStream
    };

    s3.PutObject(params, function(err, data) {
        fmt.dump(err, 'Error');
        fmt.dump(data, 'Data');
    });
});

</pre>





{% endcapture %}

{% include main.html %}
