---
id      : amazon-s3-put-bucket-logging
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutBucketLogging
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlogging.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>BucketName (required)</dt>
    <dd> (special)</dd>
  
    <dt>logging (required)</dt>
    <dd> (resource)</dd>
  
    <dt>EmailAddress (optional)</dt>
    <dd> (special)</dd>
  
    <dt>GranteeEmail (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Uri (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Permission (optional)</dt>
    <dd> (special)</dd>
  
    <dt>TargetBucket (optional)</dt>
    <dd> (special)</dd>
  
    <dt>TargetPrefix (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
