---
id      : amazon-s3-put-bucket-versioning
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutBucketVersioning
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>BucketName (required)</dt>
    <dd> (special)</dd>
  
    <dt>versioning (required)</dt>
    <dd> (resource)</dd>
  
    <dt>Status (optional)</dt>
    <dd> (special)</dd>
  
    <dt>MfaDelete (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
