---
id      : amazon-s3-put-bucket-cors
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutBucketCors
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>BucketName (required)</dt>
    <dd> (special)</dd>
  
    <dt>cors (optional)</dt>
    <dd> (resource)</dd>
  
    <dt>CorsConfiguration (required)</dt>
    <dd>A data structure which will be converted into a &amp;lt;CORSConfiguration&amp;gt; XML document. (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
