---
id      : amazon-s3-put-bucket-acl
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutBucketAcl
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>BucketName (required)</dt>
    <dd> (special)</dd>
  
    <dt>acl (optional)</dt>
    <dd> (resource)</dd>
  
    <dt>AccessControlPolicy (optional)</dt>
    <dd>A data structure which will be converted into a &amp;lt;AccessControlPolicy&amp;gt; XML document. (special)</dd>
  
    <dt>Acl (optional)</dt>
    <dd>Values: private, public-read, public-read-write, authenticated-read. (header)</dd>
  
    <dt>GrantRead (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
    <dt>GrantWrite (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
    <dt>GrantReadAcp (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
    <dt>GrantWriteAcp (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
    <dt>GrantFullControl (optional)</dt>
    <dd>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url. (header)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Using canned ACL to allow full control to an email address</h3>
<p>The Grant* params allow you to set canned ACLs onto your bucket. Check the format you must use against the Amazon docs.</p>

<h4>Example</h4>
<pre>
var params = {
    BucketName : 'pie-18',
    // similar thing for all the other Grant* params
    GrantFullControl  : 'emailAddress=&quot;andychilton@gmail.com&quot;',
};

s3.PutBucketAcl(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>Using the full AccessControlPolicy</h3>
<p>Specifying your own <code>AccessControlPolicy</code> means you can have complete control over your ACL, but it means you have to do a little bit more work to get the format correct.</p>

<h4>Example</h4>
<pre>
var params = {
    BucketName         : 'pie-18',
    AccessControlPolicy  : {
        Owner : {
            ID : 'sdfgd',
            DisplayName : 'something',
        },
        AccessControlList : [
            {
                Grant : {
                    Grantee : {
                        _attr :  {
                            'xmlns:xsi' : 'http://www.w3.org/2001/XMLSchema-instance',
                            'xsi:type' : 'CanonicalUser',
                        },
                        ID : '1111-2222-3333',
                        DisplayName : 'a name'
                    },
                    Permission : 'READ',
                },
            },
        ]
    },
};

s3.PutBucketAcl(params, function(err, data) {
    // gives a 400 saying that 1111-2222-3333 is an invalid CanonicalUser/ID
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
