---
id      : amazon-s3-put-object-acl
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutObjectAcl
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>acl</td>
      <td>required</td>
      <td>resource</td>
      <td></td>
    </tr>
  
    <tr>
      <td>AccessControlPolicy</td>
      <td>optional</td>
      <td>special</td>
      <td>A data structure which will be converted into a &amp;lt;AccessControlPolicy&amp;gt; XML document.</td>
    </tr>
  
    <tr>
      <td>Acl</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>BucketName</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ObjectName</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CacheControl</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentDisposition</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentEncoding</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentMD5</td>
      <td>optional</td>
      <td>header-base64</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ContentType</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Expect</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Expires</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>GrantRead</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>GrantWrite</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>GrantReadAcp</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>GrantWriteAcp</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  
    <tr>
      <td>GrantFullControl</td>
      <td>optional</td>
      <td>header</td>
      <td>A comma-separated list of one or more grantees (of the format type=value). Type must be emailAddress, id or url.</td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
