---
id      : amazon-s3-upload-part-copy
layout  : default
title   : Amazon S3
tagline : ???
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UploadPartCopy
    <small>(<a href="">Open docs on AWS</a>)</small>
  </h1>

{% highlight javascript %}
s3.UploadPartCopy({}, function(err, data) {
    fmt.title("Amazon:S3:UploadPartCopy");
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
{% endhighlight %}

  <h2>Args</h2>

  <p>...</p>

  <h2>Result</h2>

{% highlight javascript %}
...
{% endhighlight %}

{% endcapture %}

{% include main.html %}
