---
id      : amazon-s3-upload-part-copy
layout  : default
title   : Amazon S3
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-s3.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UploadPartCopy
    <small>(<a href="http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th width="20%">Param Name</th>
      <th width="10%">Required</th>
      <th width="10%">Type</th>
      <th width="60%">Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>BucketName</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>ObjectName</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>PartNumber</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>UploadId</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>SourceBucket</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>SourceObject</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CopySourceIfMatch</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CopySourceIfNoneMatch</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CopySourceIfUnmodifiedSince</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CopySourceIfModifiedSince</td>
      <td>optional</td>
      <td>header</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
