---
id      : amazon-elb-configure-health-check
layout  : default
title   : Amazon ELB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ConfigureHealthCheck
    <small>(<a href="http://docs.amazonwebservices.com/ElasticLoadBalancing/latest/APIReference/API_ConfigureHealthCheck.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>HealthyThreshold (*)</dt>
    <dd>param</dd>
  
    <dt>Interval (*)</dt>
    <dd>param</dd>
  
    <dt>Target (*)</dt>
    <dd>param</dd>
  
    <dt>Timeout (*)</dt>
    <dd>param</dd>
  
    <dt>UnhealthyThreshold (*)</dt>
    <dd>param</dd>
  
    <dt>LoadBalancerName (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
