---
id      : amazon-elb-create-load-balancer
layout  : default
title   : Amazon ELB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateLoadBalancer
    <small>(<a href="http://docs.amazonwebservices.com/ElasticLoadBalancing/latest/APIReference/API_CreateLoadBalancer.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>AvailabilityZones (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>Listeners (required)</dt>
    <dd> (param-array-of-objects)</dd>
  
    <dt>LoadBalancerName (required)</dt>
    <dd> (param)</dd>
  
    <dt>SecurityGroups (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>Subnets (optional)</dt>
    <dd> (param-array)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Create a loadbalancer</h3>
<p>This example shows how to create a loadbalancer.</p>

<h4>Example</h4>
<pre>
var params = {
    LoadBalancerName : 'test',
    Listeners : [{
      LoadBalancerPort : 80,
      Protocol : 'http',
      InstancePort : 3000
    }],
    AvailabilityZones: [amazon.EU_WEST_1+'a']
}
elb.CreateLoadBalancer(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
