---
id      : amazon-elb-create-l-b-cookie-stickiness-policy
layout  : default
title   : Amazon ELB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateLBCookieStickinessPolicy
    <small>(<a href="http://docs.amazonwebservices.com/ElasticLoadBalancing/latest/APIReference/API_CreateLBCookieStickinessPolicy.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th width="20%">Param Name</th>
      <th width="10%">Required</th>
      <th width="10%">Type</th>
      <th width="60%">Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CookieExpirationPeriod</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>LoadBalancerName</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>PolicyName</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>Define the expiration period of a cookie on a loadbalancer</h3>
<p>This example shows how to define the expiration period of a cookie on a loadbalancer. It is only available with cookies through http/https.</p>

<h4>Example</h4>
<pre>
var params = {
    CookieExpirationPeriod  : 10000,
    PolicyName              : 'testPolicyExpiration',
    LoadBalancerName        : 'test'
};
elb.CreateLBCookieStickinessPolicy(params,function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
