---
id      : amazon-elb-create-load-balancer-policy
layout  : default
title   : Amazon ELB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateLoadBalancerPolicy
    <small>(<a href="http://docs.amazonwebservices.com/ElasticLoadBalancing/latest/APIReference/API_CreateLoadBalancerPolicy.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>Listeners (*)</dt>
    <dd>param-array</dd>
  
    <dt>LoadBalancerName (*)</dt>
    <dd>param</dd>
  
    <dt>PolicyAttributes (*)</dt>
    <dd>param-array-of-objects</dd>
  
    <dt>PolicyName (*)</dt>
    <dd>param</dd>
  
    <dt>PolicyTypeName (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
