---
id      : amazon-elb-delete-load-balancer
layout  : default
title   : Amazon ELB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteLoadBalancer
    <small>(<a href="http://docs.amazonwebservices.com/ElasticLoadBalancing/latest/APIReference/API_DeleteLoadBalancer.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>LoadBalancerName (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>


<h3>Delete a loadbalancer</h3>
<p>This example shows how to delete a loadbalancer.</p>

<h4>Example</h4>
<pre>
var params = {
  LoadBalancerName : 'test'
}
elb.DeleteLoadBalancer(params, function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
