---
id      : amazon-elb-describe-load-balancer-policies
layout  : default
title   : Amazon ELB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeLoadBalancerPolicies
    <small>(<a href="http://docs.amazonwebservices.com/ElasticLoadBalancing/latest/APIReference/API_DescribeLoadBalancerPolicies.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>LoadBalancerName (optional)</dt>
    <dd> (param)</dd>
  
    <dt>PolicyNames (optional)</dt>
    <dd> (param-array)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
