---
id      : amazon-elb-describe-load-balancer-policies
layout  : default
title   : Amazon ELB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeLoadBalancerPolicies
    <small>(<a href="http://docs.amazonwebservices.com/ElasticLoadBalancing/latest/APIReference/API_DescribeLoadBalancerPolicies.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>Action</td>
      <td>required</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>LoadBalancerName</td>
      <td>optional</td>
      <td>param</td>
      <td></td>
    </tr>
  
    <tr>
      <td>PolicyNames</td>
      <td>optional</td>
      <td>param-array</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>


<h3>List all loadbalancer policies available</h3>
<p>This example shows how to list all loadbalancer policies available. This is useful to determine which SSL negotations are available. If you don't have any loadbalancers this will provide you with all options available.</p>

<h4>Example</h4>
<pre>
elb.DescribeLoadBalancerPolicies({},function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});
elb.DescribeLoadBalancerPolicies(function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>




<h3>List all policies of a specific loadbalancer</h3>
<p>This example shows how to list all policies of a specific loadbalancer.</p>

<h4>Example</h4>
<pre>
var params = {
  LoadBalancerName : 'test'
}
elb.DescribeLoadBalancerPolicies(params,function(err, data) {
    fmt.dump(err, 'Error');
    fmt.dump(data, 'Data');
});

</pre>





{% endcapture %}

{% include main.html %}
