---
id      : amazon-elb
layout  : default
title   : Amazon ELB
tagline : Elastic Compute Cloud
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h2>Loading AwsSum's Amazon ELB</h2>

{% highlight javascript %}
var awssum = require('awssum');
var amazon = awssum.load('amazon/amazon');
var Elb = awssum.load('amazon/elb').Elb;

var elb = new Elb({
  'accessKeyId'     : process.env.accessKeyId,
  'secretAccessKey' : process.env.secretAccessKey,
  'region'          : amazon.US_EAST_1
});
{% endhighlight %}

{% endcapture %}

{% include main.html %}
