---
id      : amazon-elb-set-load-balancer-listener-ssl-certificate
layout  : default
title   : Amazon ELB
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elb.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SetLoadBalancerListenerSslCertificate
    <small>(<a href="http://docs.amazonwebservices.com/ElasticLoadBalancing/latest/APIReference/API_SetLoadBalancerListenerSSLCertificate.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>LoadBalancerName (*)</dt>
    <dd>param</dd>
  
    <dt>LoadBalancerPort (*)</dt>
    <dd>param</dd>
  
    <dt>SslCertificateId (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
