---
id      : amazon-cloudfront-create-distribution
layout  : default
title   : Amazon CloudFront
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudfront.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateDistribution
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudFront/latest/APIReference/CreateDistribution.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Param Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td>DnsName</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>OriginAccessIdentity</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CustomOriginDnsName</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CustomOriginHttpPort</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CustomOriginHttpsPort</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CustomOriginOriginProtocolPolicy</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>CallerReference</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Cname</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Comment</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>Enabled</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>DefaultRootObject</td>
      <td>required</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>LoggingBucket</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>LoggingPrefix</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>TrustedSignersSelf</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>TrustedSignersAwsAccountNumber</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  
    <tr>
      <td>RequiredProtocols</td>
      <td>optional</td>
      <td>special</td>
      <td></td>
    </tr>
  


  </tbody>
</table>

  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
