---
id      : amazon-cloudfront-create-streaming-distribution
layout  : default
title   : Amazon CloudFront
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudfront.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateStreamingDistribution
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudFront/latest/APIReference/CreateStreamingDistribution.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>S3OriginDnsName (optional)</dt>
    <dd> (special)</dd>
  
    <dt>S3OriginOriginAccessIdentity (optional)</dt>
    <dd> (special)</dd>
  
    <dt>CallerReference (required)</dt>
    <dd> (special)</dd>
  
    <dt>Cname (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Comment (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Enabled (required)</dt>
    <dd> (special)</dd>
  
    <dt>LoggingBucket (optional)</dt>
    <dd> (special)</dd>
  
    <dt>LoggingPrefix (optional)</dt>
    <dd> (special)</dd>
  
    <dt>TrustedSignersSelf (optional)</dt>
    <dd> (special)</dd>
  
    <dt>TrustedSignersAwsAccountNumber (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
