---
id      : amazon-cloudfront-delete-oai
layout  : default
title   : Amazon CloudFront
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudfront.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteOai
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudFront/latest/APIReference/DeleteOAI.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>OriginAccessId (*)</dt>
    <dd>special</dd>
  
    <dt>IfMatch (*)</dt>
    <dd>header</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
