---
id      : amazon-cloudfront-get-distribution-config
layout  : default
title   : Amazon CloudFront
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudfront.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetDistributionConfig
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudFront/latest/APIReference/GetConfig.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>DistributionId (*)</dt>
    <dd>special</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
