---
id      : amazon-cloudfront-list-oais
layout  : default
title   : Amazon CloudFront
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudfront.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ListOais
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudFront/latest/APIReference/ListOAIs.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Marker (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxItems (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
