---
id      : amazon-cloudfront-put-distribution-config
layout  : default
title   : Amazon CloudFront
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudfront.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutDistributionConfig
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudFront/latest/APIReference/PutConfig.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>DistributionId (*)</dt>
    <dd>special</dd>
  
    <dt>IfMatch (*)</dt>
    <dd>header</dd>
  
    <dt>DnsName (*)</dt>
    <dd>special</dd>
  
    <dt>OriginAccessIdentity (*)</dt>
    <dd>special</dd>
  
    <dt>CustomOriginDnsName (*)</dt>
    <dd>special</dd>
  
    <dt>CustomOriginHttpPort (*)</dt>
    <dd>special</dd>
  
    <dt>CustomOriginHttpsPort (*)</dt>
    <dd>special</dd>
  
    <dt>CustomOriginOriginProtocolPolicy (*)</dt>
    <dd>special</dd>
  
    <dt>CallerReference (*)</dt>
    <dd>special</dd>
  
    <dt>Cname (*)</dt>
    <dd>special</dd>
  
    <dt>Comment (*)</dt>
    <dd>special</dd>
  
    <dt>Enabled (*)</dt>
    <dd>special</dd>
  
    <dt>DefaultRootObject (*)</dt>
    <dd>special</dd>
  
    <dt>LoggingBucket (*)</dt>
    <dd>special</dd>
  
    <dt>LoggingPrefix (*)</dt>
    <dd>special</dd>
  
    <dt>TrustedSignersSelf (*)</dt>
    <dd>special</dd>
  
    <dt>TrustedSignersAwsAccountNumber (*)</dt>
    <dd>special</dd>
  
    <dt>RequiredProtocols (*)</dt>
    <dd>special</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
