---
id      : amazon-cloudfront-put-distribution-config
layout  : default
title   : Amazon CloudFront
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-cloudfront.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PutDistributionConfig
    <small>(<a href="http://docs.amazonwebservices.com/AmazonCloudFront/latest/APIReference/PutConfig.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>DistributionId (required)</dt>
    <dd> (special)</dd>
  
    <dt>IfMatch (required)</dt>
    <dd> (header)</dd>
  
    <dt>DnsName (optional)</dt>
    <dd> (special)</dd>
  
    <dt>OriginAccessIdentity (optional)</dt>
    <dd> (special)</dd>
  
    <dt>CustomOriginDnsName (optional)</dt>
    <dd> (special)</dd>
  
    <dt>CustomOriginHttpPort (optional)</dt>
    <dd> (special)</dd>
  
    <dt>CustomOriginHttpsPort (optional)</dt>
    <dd> (special)</dd>
  
    <dt>CustomOriginOriginProtocolPolicy (optional)</dt>
    <dd> (special)</dd>
  
    <dt>CallerReference (required)</dt>
    <dd> (special)</dd>
  
    <dt>Cname (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Comment (optional)</dt>
    <dd> (special)</dd>
  
    <dt>Enabled (required)</dt>
    <dd> (special)</dd>
  
    <dt>PriceClass (optional)</dt>
    <dd> (special)</dd>
  
    <dt>DefaultRootObject (required)</dt>
    <dd> (special)</dd>
  
    <dt>LoggingBucket (optional)</dt>
    <dd> (special)</dd>
  
    <dt>LoggingPrefix (optional)</dt>
    <dd> (special)</dd>
  
    <dt>TrustedSignersSelf (optional)</dt>
    <dd> (special)</dd>
  
    <dt>TrustedSignersAwsAccountNumber (optional)</dt>
    <dd> (special)</dd>
  
    <dt>RequiredProtocols (optional)</dt>
    <dd> (special)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
