---
id      : amazon-rds-delete-d-b-subnet-group
layout  : default
title   : Amazon RDS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-rds.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DeleteDBSubnetGroup
    <small>(<a href="http://docs.amazonwebservices.com/AmazonRDS/latest/APIReference/API_DeleteDBSubnetGroup.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>DBSubnetGroupName (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
