---
id      : amazon-rds-describe-reserved-d-b-instances
layout  : default
title   : Amazon RDS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-rds.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeReservedDBInstances
    <small>(<a href="http://docs.amazonwebservices.com/AmazonRDS/latest/APIReference/API_DescribeReservedDBInstances.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>DBInstanceClass (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Duration (optional)</dt>
    <dd> (param)</dd>
  
    <dt>Marker (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MaxRecords (optional)</dt>
    <dd> (param)</dd>
  
    <dt>MultiAZ (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ProductDescription (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ReservedDBInstanceId (optional)</dt>
    <dd> (param)</dd>
  
    <dt>ReservedDBInstancesOfferingId (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
