---
id      : amazon-rds-modify-option-group
layout  : default
title   : Amazon RDS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-rds.html %}
{% endcapture %}

{% capture main %}

  <h1>
    ModifyOptionGroup
    <small>(<a href="http://docs.amazonwebservices.com/AmazonRDS/latest/APIReference/API_ModifyOptionGroup.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>ApplyImmediately (optional)</dt>
    <dd> (param)</dd>
  
    <dt>OptionGroupName (required)</dt>
    <dd> (param)</dd>
  
    <dt>OptionsToInclude (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>OptionsToRemove (optional)</dt>
    <dd> (param-array)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
