---
id      : amazon-rds-purchase-reserved-d-b-instances-offering
layout  : default
title   : Amazon RDS
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-rds.html %}
{% endcapture %}

{% capture main %}

  <h1>
    PurchaseReservedDBInstancesOffering
    <small>(<a href="http://docs.amazonwebservices.com/AmazonRDS/latest/APIReference/API_PurchaseReservedDBInstancesOffering.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>DBInstanceCount (*)</dt>
    <dd>param</dd>
  
    <dt>ReservedDBInstanceId (*)</dt>
    <dd>param</dd>
  
    <dt>ReservedDBInstancesOfferingId (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
