---
id      : amazon-elasticbeanstalk-create-storage-location
layout  : default
title   : Amazon ElasticBeanstalk
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticbeanstalk.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateStorageLocation
    <small>(<a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/api/API_CreateStorageLocation.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
