---
id      : amazon-elasticbeanstalk-describe-environments
layout  : default
title   : Amazon ElasticBeanstalk
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticbeanstalk.html %}
{% endcapture %}

{% capture main %}

  <h1>
    DescribeEnvironments
    <small>(<a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/api/API_DescribeEnvironments.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>ApplicationName (optional)</dt>
    <dd> (param)</dd>
  
    <dt>EnvironmentIds (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>EnvironmentNames (optional)</dt>
    <dd> (param-array)</dd>
  
    <dt>IncludeDeleted (optional)</dt>
    <dd> (param)</dd>
  
    <dt>IncludedDeletedBackTo (optional)</dt>
    <dd> (param)</dd>
  
    <dt>VersionLabel (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
