---
id      : amazon-elasticbeanstalk-swap-environment-c-n-a-m-es
layout  : default
title   : Amazon ElasticBeanstalk
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticbeanstalk.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SwapEnvironmentCNAMEs
    <small>(<a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/api/API_SwapEnvironmentCNAMEs.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>DestinationEnvironmentId (optional)</dt>
    <dd> (param)</dd>
  
    <dt>DestinationEnvironmentName (optional)</dt>
    <dd> (param)</dd>
  
    <dt>SourceEnvironmentId (optional)</dt>
    <dd> (param)</dd>
  
    <dt>SourceEnvironmentName (optional)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
