---
id      : amazon-elasticbeanstalk-swap-environment-c-n-a-m-es
layout  : default
title   : Amazon ElasticBeanstalk
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticbeanstalk.html %}
{% endcapture %}

{% capture main %}

  <h1>
    SwapEnvironmentCNAMEs
    <small>(<a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/api/API_SwapEnvironmentCNAMEs.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>DestinationEnvironmentId (*)</dt>
    <dd>param</dd>
  
    <dt>DestinationEnvironmentName (*)</dt>
    <dd>param</dd>
  
    <dt>SourceEnvironmentId (*)</dt>
    <dd>param</dd>
  
    <dt>SourceEnvironmentName (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
