---
id      : amazon-elasticbeanstalk-update-environment
layout  : default
title   : Amazon ElasticBeanstalk
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-elasticbeanstalk.html %}
{% endcapture %}

{% capture main %}

  <h1>
    UpdateEnvironment
    <small>(<a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/api/API_UpdateEnvironment.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>Description (*)</dt>
    <dd>param</dd>
  
    <dt>EnvironmentId (*)</dt>
    <dd>param</dd>
  
    <dt>EnvironmentName (*)</dt>
    <dd>param</dd>
  
    <dt>OptionSettings (*)</dt>
    <dd>param-array</dd>
  
    <dt>OptionsToRemove (*)</dt>
    <dd>param-array</dd>
  
    <dt>TemplateName (*)</dt>
    <dd>param</dd>
  
    <dt>VersionLabel (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
