---
id      : tools-amazon-scripts
layout  : default
title   : Amazon Scripts
tagline : Helping you use AWS better
sitemap : true
---
{% capture menu %}
  <li><a href="/">&laquo; back</a></li>
  {% include menu-tools.html %}
{% endcapture %}

{% capture main %}

  <h1>Amazon Scripts</h1>

  <p>
    The main repo where a few helper Amazon scripts are starting to appear is
    at <a href="http://github.com/appsattic/node-awssum-scripts">AwsSum Scripts</a>. These currently include a number
    of S3 sync utilities and a script to put metrics into CloudWatch, but more are being added as time goes on.
  </p>

  <h2>Any others?</h2>
  <p>
    If you think your package or tool requires mention, please get in touch with me. :)
  </p>

{% endcapture %}

{% include main.html %}
