---
id      : tools-build-tools
layout  : default
title   : Build Tools
tagline : Helping you deploy faster
sitemap : true
---
{% capture menu %}
  {% include menu-tools.html %}
{% endcapture %}

{% capture main %}

  <h1>Build Tools</h1>

  <p>
    Doing things like JavaScript minimisation, compiling CSS, file concatenation and image crushing is becoming more
    and more a part of a web developers life. So is uploading all of that stuff to a CDN. We're also starting, stopping
    and rejigging servers at will, especially in the cloud. Some of these tools can help you with your current task.
  </p>

  <ul>
    <li>
      <a href="https://github.com/proxv/jsbundle">jsbundle</a>
      (<a href="https://npmjs.org/package/jsbundle">npm</a>)
      - Simple, clean, and automatic bundling of your Node modules and packages for use in the browser
    </li>
  </ul>

  <h2>Any others?</h2>
  <p>
    If you think your package or tool requires mention, please get in touch with me. :)
  </p>

{% endcapture %}

{% include main.html %}
