<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}">

    <link href="/s/p/bootstrap-2.0.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/s/css/styles.css" rel="stylesheet">
    <link href="/s/p/bootstrap-2.0.4/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/s/js/html5.js"></script>
    <![endif]-->

  </head>
  <body>

    <div id="navbar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">AwsSum</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="tab-home"><a href="#home">Home</a></li>
              <li class="tab-new-apis"><a href="#new-apis">New APIs</a></li>
              <li class="tab-bugs"><a href="#bugs">Bugs</a></li>
              <li class="tab-about"><a href="#about">About</a></li>
              <li class="tab-contact"><a href="#contact">Contact</a></li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div><!-- /.container-fluid -->
      </div><!-- /.navbar-inner -->
    </div><!-- /#navbar -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div id="menu" class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

              <li class="tab-basics nav-header">Basics</li>
              <li class="tab-loading"><a href="#loading">Loading</a></li>
              <li class="tab-operations"><a href="#operations">Operations</a></li>

              <li class="tab-amazon nav-header">Amazon</li>
              <li class="tab-amazon-s3"><a href="#amazon-s3">Simple Storage Service (S3)</a></li>
              <li class="tab-amazon-ec2"><a href="#amazon-ec2">Elastic Compute Cloud (EC2)</a></li>
              <li class="tab-amazon-ses"><a href="#amazon-ses">Simple Email Service (SES)</a></li>
              <li class="tab-amazon-sns"><a href="#amazon-sns">Simple Notification Service (SNS)</a></li>
              <li class="tab-amazon-elb"><a href="#amazon-elb">ElasticLoad Balancing (ELB)</a></li>
              <li class="tab-amazon-fps"><a href="#amazon-fps">Flexible Payments Service (FPS)</a></li>
              <li class="tab-amazon-simpledb"><a href="#amazon-simpledb">SimpleDB (SDB)</a></li>
              <li class="tab-amazon-route53"><a href="#amazon-route53">Route53 (R53)</a></li>
              <li class="tab-amazon-elasticache"><a href="#amazon-elasticache">ElastiCache</a></li>
              <li class="tab-amazon-cloudfront"><a href="#amazon-cloudfront">CloudFront</a></li>
              <li class="tab-amazon-cloudwatch"><a href="#amazon-cloudwatch">CloudWatch</a></li>
              <li class="tab-amazon-dynamodb"><a href="#amazon-dynamodb">DynamoDB</a></li>
              <li class="tab-amazon-swf"><a href="#amazon-swf">Simple Workflow Service (SWF)</a></li>

            </ul>
          </div><!-- /.well -->
        </div><!-- /#menu -->

        <div id="content" class="span9">

          {{ content }}

        </div><!-- /#content -->
      </div><!-- /.row-fluid -->

      <hr>

      <footer>
        <p>&copy; <a href="http://appsattic.com/">AppsAttic Ltd</a> 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <script src="/s/js/jquery-1.7.2.min.js"></script>
    <script src="/s/js/jquery.ba-hashchange.min.js"></script>
    <script src="/s/js/ready.js"></script>
    <!--
        <script src="../assets/js/bootstrap-transition.js"></script>
        <script src="../assets/js/bootstrap-alert.js"></script>
        <script src="../assets/js/bootstrap-modal.js"></script>
        <script src="../assets/js/bootstrap-dropdown.js"></script>
        <script src="../assets/js/bootstrap-scrollspy.js"></script>
        <script src="../assets/js/bootstrap-tab.js"></script>
        <script src="../assets/js/bootstrap-tooltip.js"></script>
        <script src="../assets/js/bootstrap-popover.js"></script>
        <script src="../assets/js/bootstrap-button.js"></script>
        <script src="../assets/js/bootstrap-collapse.js"></script>
        <script src="../assets/js/bootstrap-carousel.js"></script>
        <script src="../assets/js/bootstrap-typeahead.js"></script>
    -->

  </body>
</html>
