<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}">

    <link href="/s/p/bootstrap-2.0.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/s/css/styles.css" rel="stylesheet">
    <link href="/s/p/bootstrap-2.0.4/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/s/js/html5.js"></script>
    <![endif]-->

  </head>
  <body>

    <div id="navbar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">AwsSum</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="tab-home"><a href="/">Home</a></li>
              <li class="tab-bugs"><a href="bugs.html">Bugs</a></li>
              <li class="tab-links"><a href="links.html">Links</a></li>
              <li class="tab-about"><a href="about.html">About</a></li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div><!-- /.container-fluid -->
      </div><!-- /.navbar-inner -->
    </div><!-- /#navbar -->

    <div class="container-fluid">
      <div class="row-fluid">

        <div id="menu" class="span3">
          <h2>AwsSum v0.7.0</h2>

          {% var menu = 'menu-' + page.id + '.html' %}
          {% include menu %}
        </div><!-- /#menu -->

        <div id="content" class="span9">
          {{ content }}
        </div><!-- /#content -->

      </div><!-- /.row-fluid -->

      <hr>

      <footer>
        <p>&copy; <a href="http://appsattic.com/">AppsAttic Ltd</a> 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <script src="/s/js/jquery-1.7.2.min.js"></script>
    <script src="/s/js/ready.js"></script>
    <!--
        <script src="../assets/js/bootstrap-transition.js"></script>
        <script src="../assets/js/bootstrap-alert.js"></script>
        <script src="../assets/js/bootstrap-modal.js"></script>
        <script src="../assets/js/bootstrap-dropdown.js"></script>
        <script src="../assets/js/bootstrap-scrollspy.js"></script>
        <script src="../assets/js/bootstrap-tab.js"></script>
        <script src="../assets/js/bootstrap-tooltip.js"></script>
        <script src="../assets/js/bootstrap-popover.js"></script>
        <script src="../assets/js/bootstrap-button.js"></script>
        <script src="../assets/js/bootstrap-collapse.js"></script>
        <script src="../assets/js/bootstrap-carousel.js"></script>
        <script src="../assets/js/bootstrap-typeahead.js"></script>
    -->

  </body>
</html>
