---
id      : amazon-iam-create-virtual-m-f-a-device
layout  : default
title   : Amazon IAM
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-iam.html %}
{% endcapture %}

{% capture main %}

  <h1>
    CreateVirtualMFADevice
    <small>(<a href="http://docs.amazonwebservices.com/IAM/latest/APIReference/API_CreateVirtualMFADevice.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (required)</dt>
    <dd> (param)</dd>
  
    <dt>Path (optional)</dt>
    <dd> (param)</dd>
  
    <dt>VirtualMFADeviceName (required)</dt>
    <dd> (param)</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
