---
id      : amazon-iam-get-group-policy
layout  : default
title   : Amazon IAM
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-iam.html %}
{% endcapture %}

{% capture main %}

  <h1>
    GetGroupPolicy
    <small>(<a href="http://docs.amazonwebservices.com/IAM/latest/APIReference/API_GetGroupPolicy.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>GroupName (*)</dt>
    <dd>param</dd>
  
    <dt>PolicyName (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% endcapture %}

{% include main.html %}
