---
id      : amazon-iam-remove-role-from-instance-profile
layout  : default
title   : Amazon IAM
tagline : 
sitemap : true
---
{% capture menu %}
  {% include menu-amazon-iam.html %}
{% endcapture %}

{% capture main %}

  <h1>
    RemoveRoleFromInstanceProfile
    <small>(<a href="http://docs.amazonwebservices.com/IAM/latest/APIReference/API_RemoveRoleFromInstanceProfile.html">Open docs on AWS</a>)</small>
  </h1>

  <h2>Params</h2>


  <dl>
  
    <dt>Action (*)</dt>
    <dd>param</dd>
  
    <dt>InstanceProfileName (*)</dt>
    <dd>param</dd>
  
    <dt>RoleName (*)</dt>
    <dd>param</dd>
  
  </dl>



  <h2>Examples</h2>



{% highlight javascript %}

{% endhighlight %}

  <h2>Result</h2>

{% highlight javascript %}

{% endhighlight %}

{% endcapture %}

{% include main.html %}
